{# @Component
name: Icons
group: Base
#}

<div class="grid-container">

<style type="text/css">
	icon-arrow-left-dims { width: 32px; height: 32px; }
	icon-arrow-right-dims { width: 15.5px; height: 23px; }
	icon-art-dims { width: 32px; height: 32px; }
	icon-bell-dims { width: 32px; height: 32px; }
	icon-bio-dims { width: 47px; height: 32px; }
	icon-briefcase-dims { width: 32px; height: 32px; }
	icon-bubble-dims { width: 32px; height: 32px; }
	icon-bubbles-dims { width: 36px; height: 32px; }
	icon-cake-dims { width: 11px; height: 11px; }
	icon-calendar-dims { width: 32px; height: 32px; }
	icon-carbon-freezing-dims { width: 31px; height: 31px; }
	icon-cart-dims { width: 34px; height: 32px; }
	icon-clock-dims { width: 32px; height: 32px; }
	icon-close-arrow-dims { width: 40px; height: 32px; }
	icon-cog-dims { width: 32px; height: 32px; }
	icon-comicbook-dims { width: 40px; height: 32px; }
	icon-content-dims { width: 32px; height: 32px; }
	icon-crop-dims { width: 32px; height: 32px; }
	icon-cross-dims { width: 32px; height: 32px; }
	icon-description-dims { width: 32px; height: 32px; }
	icon-email-dims { width: 46px; height: 32px; }
	icon-facebook-dims { width: 32px; height: 32px; }
	icon-follow-dims { width: 28.7px; height: 25.9px; }
	icon-games-dims { width: 32px; height: 32px; }
	icon-gender-dims { width: 32px; height: 32px; }
	icon-google-plus-dims { width: 32px; height: 32px; }
	icon-grid-dims { width: 30px; height: 30px; }
	icon-hbstore-dims { width: 86.6px; height: 31px; }
	icon-image-dims { width: 32px; height: 32px; }
	icon-instagram-dims { width: 31px; height: 32px; }
	icon-list-dims { width: 30px; height: 30px; }
	icon-location-dims { width: 32px; height: 32px; }
	icon-meta-dims { width: 32px; height: 32px; }
	icon-movies-tv-dims { width: 32px; height: 32px; }
	icon-music-dims { width: 29px; height: 32px; }
	icon-music-circle-dims { width: 31px; height: 31px; }
	icon-pencil-dims { width: 32px; height: 32px; }
	icon-pinterest-dims { width: 20px; height: 28px; }
	icon-playstation-dims { width: 11px; height: 11px; }
	icon-plus-dims { width: 32px; height: 32px; }
	icon-podcast-dims { width: 22px; height: 32px; }
	icon-rss-dims { width: 31px; height: 32px; }
	icon-search-dims { width: 32px; height: 32px; }
	icon-store-dims { width: 20px; height: 18px; }
	icon-thumbdown-dims { width: 27px; height: 32px; }
	icon-thumbup-dims { width: 27px; height: 32px; }
	icon-twitch-dims { width: 10px; height: 10px; }
	icon-twitter-dims { width: 38px; height: 32px; }
	icon-video-add-dims { width: 113.1px; height: 88.9px; }
	icon-website-dims { width: 32px; height: 32px; }
	icon-xbox-dims { width: 9.7px; height: 9.7px; }
	icon-youtube-dims { width: 26px; height: 32px; }
</style>
<!--
====================================================================================================
-->

	</head>
	<body>

<!--

Inline <symbol> SVG sprite
====================================================================================================
This is an inlined version of the generated SVG sprite. The single images may be <use>d everywhere
below within this document. Please see

	https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#defs--symbol-mode

for further details on how to create this embeddable sprite variant.

-->

<svg width="0" height="0" style="position:absolute">
		<symbol viewBox="0 0 32 32" id="arrow-left" xmlns="http://www.w3.org/2000/svg"><path d="M26.8 5.1L21.6 0 10.5 10.9 5.2 16l16.4 16 5.2-5.1L15.7 16z"/></symbol>
		<symbol viewBox="0 0 15.5 23" id="arrow-right" xmlns="http://www.w3.org/2000/svg"><path d="M3.8 0L0 3.7l8 7.8-8 7.8L3.8 23l8-7.8 3.7-3.7z"/></symbol>
		<symbol viewBox="0 0 32 32" id="art" xmlns="http://www.w3.org/2000/svg"><path d="M31.377 11.429c0-.208-.208-.416-.416-.416s-.416-.208-.623 0c-1.87.623-4.779 1.039-8.104 1.039h-2.286c-.416 1.455-1.039 3.117-1.87 4.364h.208c1.039 0 1.87 0 1.87.623s-.831 1.87-1.87 1.87c-.623 0-1.247-.208-1.455-.416-1.039 1.039-2.286 2.078-3.532 2.701 1.455 4.779 4.987 8.104 8.935 8.104 5.403 0 9.558-6.026 9.558-13.507 0-1.455-.208-2.909-.416-4.364zm-5.403 14.129c-.208.208-.208.208-.416.208-.831-.623-2.078-1.039-3.532-1.039-1.247-.208-2.494.208-3.325.831h-.208s-.208 0-.208-.208v-.831c0-2.078 1.87-3.948 3.948-3.948s3.948 1.662 3.948 3.948c0 .416 0 .623-.208 1.039zm.208-6.649c-1.039 0-1.87-1.247-1.87-1.87s.831-.623 1.87-.623c1.039 0 1.87.623 1.87 1.247s-.831 1.247-1.87 1.247zM19.325 7.688c0-1.662-.208-3.117-.623-4.571 0-.208-.208-.416-.416-.416h-.416-.208c-1.87.416-4.779.831-8.104.831s-6.234-.416-8.104-1.039H.83c0 .208-.208.416-.208.623-.416 1.455-.623 2.909-.623 4.571 0 7.481 4.364 13.507 9.558 13.507s9.766-6.026 9.766-13.507zM3.948 9.351c0-.623.831-1.247 1.87-1.247s1.87 1.247 1.87 1.87-.831.623-1.87.623-1.87-.623-1.87-1.247zm5.61 9.143c-2.078 0-3.948-1.662-3.948-3.948v-.831s0-.208.208-.208h.208c.831.623 2.078 1.039 3.532 1.039s2.701-.416 3.532-1.039h.208s.208 0 .208.208v.831c0 2.286-1.662 3.948-3.948 3.948zm2.286-8.52c0-.623.831-1.87 1.87-1.87s1.87.623 1.87 1.247c0 .623-.831 1.247-1.87 1.247s-1.87 0-1.87-.623z"/></symbol>
		<symbol viewBox="0 0 32 32" id="bell" xmlns="http://www.w3.org/2000/svg"><path d="M32.047 25c0-9-8-7-8-14 0-.58-.056-1.076-.158-1.498-.526-3.532-2.88-6.366-5.93-7.23.027-.123.041-.251.041-.382 0-1.04-.9-1.891-2-1.891S14 .85 14 1.89c0 .131.014.258.041.382-3.421.969-5.966 4.416-6.039 8.545L8 11c0 7-8 5-8 14 0 2.382 5.331 4.375 12.468 4.878a3.998 3.998 0 0 0 7.064 0C26.669 29.375 32 27.383 32 25l-.001-.021.048.021zm-6.227 1.691c-1.695.452-3.692.777-5.837.958a4 4 0 0 0-7.968 0c-2.144-.18-4.142-.506-5.837-.958-2.332-.622-3.447-1.318-3.855-1.691.408-.372 1.523-1.068 3.855-1.691 2.712-.724 6.199-1.122 9.82-1.122s7.109.398 9.82 1.122c2.332.622 3.447 1.318 3.855 1.691-.408.372-1.523 1.068-3.855 1.691z"/></symbol>
		<symbol viewBox="0 0 47 32" id="bio" xmlns="http://www.w3.org/2000/svg"><path d="M45.141 29.041H32.247v-1.026c0-1.7-.55-3.275-1.508-4.614h14.402c.966 0 1.766.708 1.766 1.57v2.5c0 .87-.8 1.57-1.766 1.57zm0-10.278H23.087v-1.498c.064-.077.111-.151.162-.239 1.707-.469 2.948-2.227 3.45-3.908h18.443c.966 0 1.766.698 1.766 1.572v2.498c0 .875-.8 1.574-1.766 1.574zm0-10.283H26.257c-.271-.48-.614-.883-1.069-1.135-.171-1.835-.614-3.309-1.227-4.51h21.18c.966 0 1.766.7 1.766 1.574v2.498c0 .862-.8 1.572-1.766 1.572zm-20.394 3.098c0 1.466-1.291 3.625-2.381 3.625a.83.83 0 0 1-.469-.162c-.685 1.427-1.645 2.75-2.784 3.733a1.143 1.143 0 0 0-.418.883c0 .905.823 1.636 1.841 1.636h1.952c4.175 0 7.563 3.002 7.563 6.722v1.867c0 1.169-1.069 2.118-2.396 2.118H2.413c-1.327 0-2.396-.949-2.396-2.118v-1.867c0-3.71 3.392-6.722 7.578-6.722h1.952c1.007 0 1.83-.732 1.83-1.636 0-.329-.149-.655-.418-.883-1.12-.973-2.063-2.272-2.75-3.669a.77.77 0 0 1-.382.098c-1.092 0-2.383-2.159-2.383-3.625 0-1.472.149-2.662 1.252-2.662.087 0 .186.023.294.034.077-3.972.909-8.939 8.045-8.939 6.848 0 7.981 4.977 8.051 8.96.149-.032.284-.055.407-.055 1.105 0 1.252 1.19 1.252 2.662z"/></symbol>
		<symbol viewBox="0 0 32 32" id="briefcase" xmlns="http://www.w3.org/2000/svg"><path d="M28.7 7.6h-6.4V4.7l-3.2-3.2h-6.4L9.6 4.7v3.2H3.3C1.6 7.6.1 9.1.1 10.8v16.7c0 1.4 1.4 2.9 3.2 2.9h25.4c1.7 0 3.2-1.4 3.2-2.9V10.8c0-1.7-1.5-3.2-3.2-3.2zm-9.5 0h-6.4V4.7h6.4v2.9z"/></symbol>
		<symbol viewBox="0 0 32 32" id="bubble" xmlns="http://www.w3.org/2000/svg"><path d="M16 2c8.837 0 16 5.82 16 13s-7.163 13-16 13a19.66 19.66 0 0 1-2.495-.158C10.068 31.279 5.966 31.895 2 31.986v-.841C4.142 30.096 6 28.184 6 26c0-.305-.024-.604-.068-.897C2.313 22.72 0 19.079 0 15 0 7.82 7.163 2 16 2z"/></symbol>
		<symbol viewBox="0 0 36 32" id="bubbles" xmlns="http://www.w3.org/2000/svg"><path d="M15 0c8.284 0 15 5.435 15 12.139s-6.716 12.139-15 12.139c-.796 0-1.576-.051-2.339-.147C9.439 27.34 5.718 27.916 2 28v-.785c2.008-.98 3.625-2.765 3.625-4.804 0-.285-.022-.564-.063-.837C2.17 19.349 0 15.949 0 12.14 0 5.436 6.716.001 15 .001zm16.125 27.209c0 1.748 1.135 3.278 2.875 4.118V32c-3.223-.072-6.181-.566-8.973-3.316-.661.083-1.337.126-2.027.126-2.983 0-5.732-.805-7.925-2.157 4.521-.016 8.789-1.464 12.026-4.084 1.631-1.32 2.919-2.87 3.825-4.605.961-1.84 1.449-3.799 1.449-5.825 0-.326-.014-.651-.039-.974C34.604 13.038 36 15.591 36 18.405c0 3.265-1.88 6.179-4.82 8.086a4.722 4.722 0 0 0-.055.718z"/></symbol>
		<symbol viewBox="0 0 11 11" id="cake" xmlns="http://www.w3.org/2000/svg"><path d="M3.6 1.1c.2-.2.2-.5 0-.7L3.2 0l-.3.3c-.2.2-.2.5 0 .7.2.3.5.3.7.1zm2.3 0c.2-.2.2-.5 0-.7L5.5 0l-.3.3c-.3.3-.2.6 0 .8.2.2.5.2.7 0zm2.2 0c.2-.2.2-.5 0-.7L7.8 0l-.4.3c-.2.2-.2.5 0 .7.2.3.6.3.7.1zm-4.9.4c-.3 0-.5.2-.5.5v1.1h1V2c0-.3-.2-.5-.5-.5zm2.3 0c-.3 0-.5.2-.5.5v1.1h1V2c0-.3-.2-.5-.5-.5zm2.3 0c-.3 0-.5.2-.5.5v1.1h1V2c0-.3-.2-.5-.5-.5zM10 4.4c0-.6-.5-1-1-1H2.1c-.6 0-1 .5-1 1v1.7H10V4.4zm.3 2.4H.7c-.4 0-.7.3-.7.7v2.8c0 .4.3.7.7.7h9.6c.4 0 .7-.3.7-.7V7.5c0-.4-.3-.7-.7-.7z"/></symbol>
		<symbol viewBox="0 0 32 32" id="calendar" xmlns="http://www.w3.org/2000/svg"><path d="M10 12h4v4h-4zm6 0h4v4h-4zm6 0h4v4h-4zM4 24h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4zm-6-6h4v4h-4zm6 0h4v4h-4zm6 0h4v4h-4zM4 18h4v4H4zM26 0v2h-4V0H8v2H4V0H0v32h30V0h-4zm2 30H2V8h26v22z"/></symbol>
		<symbol viewBox="0 0 31 31" id="carbon-freezing" xmlns="http://www.w3.org/2000/svg"><path d="M11 15.5c0-1.6.9-3.1 2.3-3.9L10.8 7C6.1 9.6 4.4 15.6 7 20.3c.9 1.6 2.2 2.9 3.7 3.7l2.5-4.6c-1.3-.8-2.2-2.3-2.2-3.9zm-7.3 0c0-4.3 2.3-8.2 6.1-10.3L8 1.9C.4 6.1-2.2 15.6 2 23.1c1.4 2.5 3.5 4.6 6 6l1.8-3.3c-3.8-2-6.1-6-6.1-10.3zM23 1.9l-1.8 3.3c5.7 3.2 7.8 10.4 4.6 16.1-1.1 1.9-2.7 3.5-4.6 4.6l1.8 3.3C30.5 25 33.2 15.5 29 8c-1.3-2.6-3.4-4.7-6-6.1zm-3 13.6c0 1.6-.9 3.1-2.3 3.9l2.5 4.6c4.7-2.6 6.4-8.5 3.8-13.2-.9-1.6-2.2-2.9-3.8-3.8l-2.5 4.6c1.4.8 2.3 2.3 2.3 3.9zM12.2 3.3c0 1.8 1.5 3.3 3.3 3.3 1.8 0 3.3-1.5 3.3-3.3 0-1.8-1.5-3.3-3.3-3.3-1.9 0-3.3 1.5-3.3 3.3zm0 24.4c0 1.8 1.5 3.3 3.3 3.3 1.8 0 3.3-1.5 3.3-3.3 0-1.8-1.5-3.3-3.3-3.3-1.9 0-3.3 1.5-3.3 3.3z"/></symbol>
		<symbol viewBox="0 0 34 32" id="cart" xmlns="http://www.w3.org/2000/svg"><path d="M33.482 9.177c.299.369.411.81.337 1.325L32.4 18.526c-.05.419-.242.76-.579 1.031s-.716.404-1.138.404H9.999l-.411 2.283h19.714c.472 0 .883.166 1.232.497.347.331.522.743.522 1.234 0 .49-.175.901-.522 1.232-.349.331-.76.497-1.232.497H7.497c-.522 0-.971-.208-1.345-.625a1.782 1.782 0 0 1-.411-1.435l.935-5.008L5.257 4.574 1.225 3.322C.751 3.174.409 2.893.197 2.476s-.255-.858-.13-1.325C.217.684.509.346.945.138A1.847 1.847 0 0 1 2.27.01l5.152 1.619c.324.098.591.283.803.552.212.271.342.577.392.921L8.916 5.9l23.372 2.577c.524.073.921.306 1.195.7zM10.145 26.663c.748 0 1.382.256 1.905.773.522.515.784 1.142.784 1.877 0 .737-.262 1.368-.784 1.895a2.579 2.579 0 0 1-1.905.792c-.746 0-1.38-.264-1.904-.792a2.597 2.597 0 0 1-.784-1.895c0-.735.262-1.362.784-1.877a2.612 2.612 0 0 1 1.904-.773zm15.944 0c.746 0 1.382.256 1.904.773.522.515.784 1.142.784 1.877 0 .737-.262 1.368-.784 1.895-.522.529-1.158.792-1.904.792s-1.382-.264-1.904-.792a2.59 2.59 0 0 1-.785-1.895c0-.735.262-1.362.785-1.877a2.608 2.608 0 0 1 1.904-.773z"/></symbol>
		<symbol viewBox="0 0 32 32" id="clock" xmlns="http://www.w3.org/2000/svg"><path d="M20.586 23.414L14 16.828V8h4v7.172l5.414 5.414zM16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 28C9.373 28 4 22.627 4 16S9.373 4 16 4s12 5.373 12 12-5.373 12-12 12z"/></symbol>
		<symbol viewBox="0 0 40 32" id="close-arrow" xmlns="http://www.w3.org/2000/svg"><path d="M21.522 5.487L16.535.5.631 16l15.904 15.5 5.122-4.987L10.874 16 21.522 5.487zm18.195 0L34.73.5 18.826 16 34.73 31.5l5.122-4.987L29.069 16 39.717 5.487z"/></symbol>
		<symbol viewBox="0 0 32 32" id="cog" xmlns="http://www.w3.org/2000/svg"><path d="M29.181 19.07c-1.679-2.908-.669-6.634 2.255-8.328l-3.145-5.447a6.022 6.022 0 0 1-3.058.829c-3.361 0-6.085-2.742-6.085-6.125h-6.289a6.023 6.023 0 0 1-.811 3.07C10.369 5.977 6.637 6.966 3.709 5.28L.565 10.727a6.023 6.023 0 0 1 2.246 2.234c1.676 2.903.672 6.623-2.241 8.319l3.145 5.447a6.022 6.022 0 0 1 3.044-.82c3.35 0 6.067 2.725 6.084 6.092h6.289a6.032 6.032 0 0 1 .811-3.038c1.676-2.903 5.399-3.894 8.325-2.219l3.145-5.447a6.032 6.032 0 0 1-2.232-2.226zM16 22.479A6.48 6.48 0 1 1 16 9.52a6.48 6.48 0 0 1 0 12.959z"/></symbol>
		<symbol viewBox="0 0 40 32" id="comicbook" xmlns="http://www.w3.org/2000/svg"><path d="M37.924 27.746a.37.37 0 0 1-.28.092 50.19 50.19 0 0 0-4.735-.23c-4.246 0-7.659.604-9.868 1.747-.326.167-2.209 1.153-3.081 1.153s-2.755-.986-3.079-1.153c-2.211-1.143-5.624-1.747-9.87-1.747-1.931 0-3.64.123-4.735.23a.369.369 0 0 1-.28-.092.349.349 0 0 1-.118-.263V5.202a.35.35 0 0 1 .147-.285.38.38 0 0 1 .321-.056l3.678 1.071a.36.36 0 0 1 .259.341v18.542s-.01.164.133.164h.761c2.965 0 8.478.3 12.07 2.31l.713.396.713-.396c3.591-2.011 9.104-2.31 12.07-2.31h.597c.314 0 .297-.29.297-.29V6.273c0-.157.106-.295.261-.341l3.676-1.071a.384.384 0 0 1 .324.056.355.355 0 0 1 .145.285v22.281a.34.34 0 0 1-.118.263zm-6.115-4.189c-4.097.077-7.644.674-10.264 1.726a.39.39 0 0 1-.138.027.355.355 0 0 1-.203-.06.349.349 0 0 1-.162-.295L21.04 5.889c0-.145.092-.276.23-.329l10.397-4.029a.372.372 0 0 1 .338.036.349.349 0 0 1 .162.295v21.341a.36.36 0 0 1-.358.355zm-13.092 1.692a.37.37 0 0 1-.343.033c-2.62-1.051-6.168-1.648-10.262-1.726a.358.358 0 0 1-.358-.355V1.86a.363.363 0 0 1 .498-.331l10.397 4.029c.14.053.23.184.23.329v19.066c0 .118-.063.23-.162.295z"/></symbol>
		<symbol viewBox="0 0 32 32" id="content" xmlns="http://www.w3.org/2000/svg"><title>content</title><path d="M28.463 0H3.537C1.516 0 0 1.516 0 3.537v25.095C0 30.485 1.516 32 3.537 32h25.095c1.853 0 3.537-1.516 3.537-3.537V3.537C32.001 1.516 30.485 0 28.464 0zm.842 28.968H2.694V7.073h26.779v21.895zM8.758 14.484c1.516 0 2.526-1.179 2.526-2.526 0-1.516-1.179-2.526-2.526-2.526-1.516 0-2.526 1.179-2.526 2.526s1.179 2.526 2.526 2.526zm16.168-3.705H13.642v2.189h11.453v-2.189zM8.758 20.884c1.516 0 2.526-1.179 2.526-2.526 0-1.516-1.179-2.526-2.526-2.526-1.516 0-2.526 1.179-2.526 2.526s1.179 2.526 2.526 2.526zm16.168-3.705H13.642v2.189h11.453v-2.189zM8.758 27.284c1.516 0 2.526-1.179 2.526-2.526 0-1.516-1.179-2.526-2.526-2.526-1.516 0-2.526 1.179-2.526 2.526s1.179 2.526 2.526 2.526zm16.168-3.705H13.642v2.189h11.453v-2.189z"/></symbol>
		<symbol viewBox="0 0 32 32" id="crop" xmlns="http://www.w3.org/2000/svg"><path d="M26 8l6-6-2-2-6 6H10V0H6v6H0v4h6v16h16v6h4v-6h6v-4h-6V8zm-16 2h10L10 20V10zm2 12l10-10v10H12z"/></symbol>
		<symbol viewBox="0 0 32 32" id="cross" xmlns="http://www.w3.org/2000/svg"><title>cross</title><path d="M31.708 25.708L22 16l9.708-9.708a1 1 0 0 0 0-1.414L27.122.292a1 1 0 0 0-1.414-.001L16 9.999 6.292.291a.998.998 0 0 0-1.414.001L.292 4.878a1 1 0 0 0 0 1.414L10 16 .292 25.708a.999.999 0 0 0 0 1.414l4.586 4.586a1 1 0 0 0 1.414 0L16 22l9.708 9.708a1 1 0 0 0 1.414 0l4.586-4.586a.999.999 0 0 0 0-1.414z"/></symbol>
		<symbol id="description" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><style>.atst0{fill:#030104}</style><path class="atst0" d="M15.8 0C7 .1-.1 7.4 0 16.2.1 25 7.4 32.1 16.2 32c8.8-.1 15.9-7.4 15.8-16.2C31.9 7 24.6-.1 15.8 0zm-.1 25.7c-1.4 0-2.4-1-2.4-2.4 0-1.3 1-2.3 2.3-2.3h.1c1.4 0 2.3 1 2.3 2.4.1 1.4-.9 2.3-2.3 2.3zm5.8-11.3c-.3.5-1 1-1.9 1.7l-1 .7c-.5.4-.9.8-1 1.2-.1.3-.1.4-.2 1v.2h-3.7v-.3c0-1.3.1-2.1.6-2.7.8-1 2.7-2.2 2.8-2.2.3-.2.5-.4.7-.7.4-.5.6-1 .6-1.4 0-.6-.2-1.1-.5-1.6s-.9-.7-1.8-.7-1.5.3-1.9.9c-.4.6-.6 1.2-.6 1.9v.2H9.7v-.2c.1-2.4.9-4 2.5-5 1-.6 2.2-.9 3.6-.9 1.9 0 3.4.5 4.7 1.3 1.3.9 1.9 2.3 1.9 4 0 .8-.3 1.7-.9 2.6z"/></symbol>
		<symbol viewBox="0 0 46 32" id="email" xmlns="http://www.w3.org/2000/svg"><path d="M43.017 25.323c0 .818-.247 1.576-.644 2.243L29.695 14.392 42.236 4.201c.487.719.781 1.563.781 2.476v18.645zm-20.075-8.539L40.39 2.604a5.226 5.226 0 0 0-2.392-.588H7.886c-.871 0-1.678.222-2.391.588l17.446 14.18zm4.865-.859l-4.039 3.285c-.236.191-.53.286-.826.286s-.59-.095-.826-.286l-4.039-3.285L5.239 29.267c.77.45 1.672.719 2.647.719h30.112c.975 0 1.877-.269 2.647-.719L27.807 15.925zM3.649 4.201a4.388 4.388 0 0 0-.782 2.476v18.645c0 .818.246 1.576.644 2.243l12.676-13.177L3.649 4.201z"/></symbol>
		<symbol viewBox="0 0 32 32" id="facebook" xmlns="http://www.w3.org/2000/svg"><path d="M11.799 6.257v4.469H8.76v5.363h3.218v16.089h6.436V16.089h4.29s.358-2.503.536-5.363h-5.006V6.972c0-.536.715-1.251 1.43-1.251h3.575V0h-4.827c-6.793 0-6.615 5.363-6.615 6.257z"/></symbol>
		<symbol viewBox="0 0 28.7 25.9" id="follow" xmlns="http://www.w3.org/2000/svg"><path d="M11.3 12.9C15 12.9 18 10 18 6.5 18 2.9 15 0 11.3 0S4.6 2.9 4.6 6.5c0 3.5 3 6.4 6.7 6.4zm11.5 1c-1 0-2 .3-2.8.7-.8-1-1.8-1.8-2.9-2.4l-.3-.2-.2.2c-1.4 1.4-3.3 2.2-5.3 2.2s-3.9-.8-5.3-2.2l-.2-.2-.2.1c-3 1.7-4.9 4.6-5.5 8.2v.1l.1.1c3 3.5 7 5.3 11.2 5.3 2.7 0 5.2-.7 7.5-2.2 1.1.9 2.5 1.5 4 1.5 3.3 0 5.9-2.6 5.9-5.7-.1-3-2.8-5.5-6-5.5zm0 9.9c-2.4 0-4.4-1.9-4.4-4.2 0-2.3 2-4.2 4.4-4.2 2.4 0 4.4 1.9 4.4 4.2-.1 2.3-2 4.2-4.4 4.2zm1.1-5.3v-2.1h-2.2v2.1h-2.1v2.1h2.1v2.1h2.2v-2.1H26v-2.1h-2.1z"/><path d="M11.3 12.9C15 12.9 18 10 18 6.5 18 2.9 15 0 11.3 0S4.6 2.9 4.6 6.5c0 3.5 3 6.4 6.7 6.4zm11.5 1c-1 0-2 .3-2.8.7-.8-1-1.8-1.8-2.9-2.4l-.3-.2-.2.2c-1.4 1.4-3.3 2.2-5.3 2.2s-3.9-.8-5.3-2.2l-.2-.2-.2.1c-3 1.7-4.9 4.6-5.5 8.2v.1l.1.1c3 3.5 7 5.3 11.2 5.3 2.7 0 5.2-.7 7.5-2.2 1.1.9 2.5 1.5 4 1.5 3.3 0 5.9-2.6 5.9-5.7-.1-3-2.8-5.5-6-5.5zm0 9.9c-2.4 0-4.4-1.9-4.4-4.2 0-2.3 2-4.2 4.4-4.2 2.4 0 4.4 1.9 4.4 4.2-.1 2.3-2 4.2-4.4 4.2zm1.1-5.3v-2.1h-2.2v2.1h-2.1v2.1h2.1v2.1h2.2v-2.1H26v-2.1h-2.1z"/></symbol>
		<symbol viewBox="0 0 32 32" id="games" xmlns="http://www.w3.org/2000/svg"><path d="M29.69 10.326C26.483 3.13 17.892-.172 10.503 2.95 3.112 6.074-.28 14.438 2.927 21.634c3.207 7.198 11.796 10.5 19.187 7.378a14.38 14.38 0 0 0 7.026-6.297l-14.262-5.484 15.024-6.35c-.072-.183-.132-.37-.212-.554zm-7.585-.665c-1.234.52-2.665-.032-3.199-1.23s.03-2.593 1.262-3.114c1.232-.52 2.665.03 3.199 1.23.535 1.198-.03 2.591-1.262 3.114z"/></symbol>
		<symbol viewBox="0 0 32 32" id="gender" xmlns="http://www.w3.org/2000/svg"><path d="M30.545 25.268l-.116.131c-3.519 4.058-8.683 6.609-14.442 6.609S5.064 29.457 1.565 25.422l-.11-.155.029-.163A13.766 13.766 0 0 1 8.547 15.01l.343-.181.221.212c1.798 1.694 4.228 2.734 6.9 2.734s5.102-1.041 6.905-2.739l.213-.208.276.145c3.788 2.045 6.473 5.717 7.129 10.054zM16 15.98a8.023 8.023 0 1 0-8.663-8c.196 4.462 3.861 8.006 8.353 8.006.109 0 .218-.002.326-.006H16z"/></symbol>
		<symbol viewBox="0 0 32 32" id="google-plus" xmlns="http://www.w3.org/2000/svg"><path d="M10.181 14.294v3.494h5.775c-.231 1.5-1.744 4.394-5.775 4.394-3.475 0-6.313-2.881-6.313-6.431S6.706 9.32 10.181 9.32c1.981 0 3.3.844 4.056 1.569l2.762-2.662c-1.775-1.656-4.075-2.662-6.819-2.662C4.549 5.571-.001 10.121-.001 15.753s4.55 10.181 10.181 10.181c5.875 0 9.775-4.131 9.775-9.95a9.27 9.27 0 0 0-.163-1.688h-9.613zM32 14h-3v-3h-3v3h-3v3h3v3h3v-3h3z"/></symbol>
		<symbol viewBox="0 0 30 30" id="grid" xmlns="http://www.w3.org/2000/svg"><path d="M0 8h8V0H0v8zm11 0h8V0h-8v8zm10.9-8v8h8V0h-8zM0 19h8v-8H0v8zm11 0h8v-8h-8v8zm10.9 0h8v-8h-8v8zM0 30h8v-8H0v8zm11 0h8v-8h-8v8zm10.9 0h8v-8h-8v8z"/></symbol>
		<symbol id="hbstore" viewBox="0 0 86.6 31" xmlns="http://www.w3.org/2000/svg"><style>.bbst0{fill:#8dc63f}.bbst1{fill:#fff}.bbst2{fill:#ed1c24}.bbst3{fill:#d1d3d4}.bbst4{fill:#72a341}</style><path d="M23.2 26.4c.3.2.8.2 1.2-.1 0-.2 0-.3-.1-.5-.4-.3-1.3 0-1.1.6zM5.3 8.8c-.8-.1-1.3.6-1.4 1.1.9-.1 1.4-.5 1.4-1.1zM5.7 9.5c-.2 0-.3.1-.4.1 0 .2.2.2.4.1.1 0 .1-.2 0-.2zM61.5 27.2c.1.1.2.1.4.1.1-.3-.4-.3-.4-.1zM80.8 6.9c0-.1-.1-.2-.3-.1 0 .1.1.1.3.1zM81.7 6.8c.3 0 .5-.3.3-.5-.8-.1-.7.5-.3.5zM46.4 5.4c.6 0 1-.1 1-.5-.5-.2-.9.1-1 .5zM51.5 4.4c-.4 0-.5.2-.3.4.4.2.5-.2.3-.4zM47.3 5.4c-.1 0-.1 0 0 0-.1.1.1.2.2.2.1-.1.1-.2 0-.2-.1-.1-.2-.1-.2 0zM79.8 23.7c.5 0 1-.1 1.1-.5-.5.1-1 .1-1.1.5zM59.6 7.2c.2.5.7-.1 0 0zM67.6 4.4c0-.1.1 0 .2-.1 0-.2 0-.3-.3-.3-.1.1-.1.4.1.4zM38.8 27.8c.1.3 1 .2.8-.2-.3-.2-.9-.1-.8.2zM36.1 5.3c-.1-.1-.1-.2-.4-.2-.2 0-.3.1-.3.3.2.2.7.2.7-.1zM36.7 5.3h.1s0-.1.1 0v-.1s-.1 0-.1-.1h-.1s0 .1-.1 0c.1 0 .1.1.1.2 0-.1.1-.1 0 0zM43.3 30.3h.3c0-.1 0-.1.1-.2-.1-.1-.5-.1-.4.2zM42.1 28.3v.2h.2c.1-.1.1-.3-.2-.2zM47.2 25.8c-.5-.3-.5.5 0 .3v-.3z"/><path d="M86.6 7.7h-1.1c-.1 0-.3-.1-.4-.1h-1.3-.9-.1c-.1 0-.2 0-.3.1h-.1H82.1c0-.1.1-.1 0-.2h-.4v.1s0 .1-.1.1c0 0-.1.1-.2.1h-.1c-.1 0-.2 0-.3.1h-.1c-.1 0-.2 0-.3-.1h-.3c-.3 0-.6.1-.8.1-.2 0-.3.1-.5.1H78c-.2 0-.4 0-.5.1 0 0 0-.1.1-.1.2 0 .3-.3.2-.5l.3-.6c.1-.1.2-.3.2-.5v-.2-.4c0-.3.1-.5.2-.8.1-.2.1-.3.1-.5 0-.1.1-.3 0-.4-.2-.1-.4 0-.6 0-.2 0-.4-.1-.7-.1-.2 0-.4 0-.6.1h-.1c-.1-.1-.2-.1-.3-.2-.1 0-.3-.1-.5-.1h-1.5-.1c-.4 0-.7.2-1.1.4-.2.1-.3.1-.3.1h-.2-.1s-.1-.1-.2-.1-.1 0-.2.1H71.8c-.1 0-.1-.1-.2-.1s-.2-.1-.4-.1h-.4c-.2 0-.4.1-.6.3h-.7v1.2-1.1h-.3c-.2-.1-.4-.1-.6-.1h-.5-.1c-.2 0-.3 0-.4.1-.2 0-.4.1-.5.2h-.5H66.3c-.4 0-.7.2-1.1.2-.2 0-.4-.1-.5.1v.2c0 .1 0 .1-.1.2-.1.2-.1.3-.1.5v.2c0 .1 0 .1-.1.1-.1.1-.1.2-.2.3 0 0-.1 0-.1.1v.1l-.1.1-.1.1h-.3c-.1 0-.4-.1-.5 0-.1.1 0 .5 0 .7 0 .5-.6.7-.7 1.1-.6-.1-2.1 0-2.6.2h0-.5c-.1 0-.3 0-.5.1-.1 0-.1-.1-.2-.1-.4.1-.3.1-.3 0v-.1s0-.1.1-.1c.2 0 .3-.1.3-.2-.1 0-.1 0-.1-.1l.3-.6v-.1-.1c.1-.1.1-.2.2-.3 0-.1.1-.1.1-.2.2-.3.4-.7.4-1.1 0-.1-.1-.3 0-.4 0-.2 0-.1.1-.3.1-.1.1-.2.1-.3v-.2c-.1 0-.2-.1-.3-.1-.2 0-.2-.1-.3-.1-.2-.2-.5-.2-.6-.2-.2 0-.4.1-.6.1h-.4c-.1 0-.2 0-.3.1-.1.1 0 .2 0 .4-.1.3-1 .3-1.2.4H55.8c-.1 0-.2-.1-.4-.1h-.2-.1-.1c-.1 0-.2 0-.3-.1-.2 0-.4 0-.6.1l-.2.1-.2.1c-.1 0-.1.1-.2.1s-.1.1-.2.1h-.2c-.4 0-.7-.2-1-.2H51c-.1-.1-.6-.2-.5.1 0 .1.1.1.2.1 0 .1 0 .1.1.2V6l-.4.2-1.5-.2h-.7c-.2 0-.3 0-.5-.1-.1 0-.1.1-.1.2h-.7l-.1.1h-.2c-.1 0-.3.1-.4 0 .1-.2 0-.4.1-.5.1-.2.2-.4.4-.7 0-.1 0-.1.1-.2 0-.3.2-.3.2-.5v-.2c0-.1.1-.2.1-.3-.2-.1-.5-.1-.7-.1-.2 0-.3.1-.5.1h-.4c-.3 0-.6 0-.9.1-.3.1-.6.3-.9.4-.2.1-.3.1-.5.1s-.3 0-.5.1H42.1c-.1 0-.3 0-.4.1h-.3c-.3.1-.7.1-1 .3-.1.1-.3.1-.3.1-.2-.1-.3-.1-.6-.2h-.1c-.2 0-.4 0-.6.1h-.1l-.6.1H38c-.2 0-.4.1-.6.1-.2 0-.3.1-.5.1h-.1-.1c-.5 0-1.1.2-1.6.4-.1 0-.1 0-.2.1-.1 0-.1.1-.2.1-.2.2-.4.3-.7.4-.1.1-.2.2-.3.2-.1 0-.2 0-.3.1-.1.1.1.2.2.3.1.1.1.2.1.3v.2c0 .1-.1.2-.1.2v.1h-.2l.1-.2c.2-.1.3-.2.2-.3h-.1l.1-.2-.6-.1c0-.1.1-.2.1-.3 0-.1 0-.1.1-.2.3-.1.6-.3.9-.7 0 0 0-.1.1-.2.4-.1.7-.3.5-.7-.1 0-.3 0-.4.1 0-.2 0-.5-.1-.7l-.2-.6-.1-.2-.9.1h-.3c-.1 0-.2-.1-.4-.1h-1.6c-.2 0-.5 0-.9.1-.5 0-.8.1-1.1.1l-1 .2c-.2-.1-.4-.2-.6-.2.1-.2 0-.5-.3-.5-.2.1-.3.3-.3.5l-.9.2c-.4.1-.8.3-1.2.6l-.1.1h-.1c-.1 0-.2.1-.3.1-.2 0-.3.1-.5.1h-.4l-.1.2h-.2c0-.1-.2-.1-.4 0 0 .1 0 .1.1.1-.1 0-.2 0-.3.1l-.2.1h-.6c.1-.1.1-.2 0-.3 0-.1.1-.2.1-.3.1-.2.1-.4.2-.7 0 0 0-.1.1-.1 0-.1.1-.2.1-.3 0-.2.1-.4.1-.6 0-.3.6-1 .4-1.4-.4-.7-1.4-.5-2-.5-.2 0-.3 0-.5.1h-.1-.1c-.2 0-.3 0-.5.1-.1 0-.3 0-.4.1-.2 0-.4 0-.6.1-.3 0-.5.1-.7.2h-.1c-.3 0-.9.2-1.4.9l-.6.6c-.1 0-.2.1-.3.2 0-.1-.1-.1-.2-.2-.3-.3-.8-.4-1.3-.4h-.1c-.3 0-.5.1-.7.1H12.5c-.1-.2-.2-.4-.5-.3-.1.1-.1.3 0 .4-.2 0-.4 0-.6.1-.1 0-.3.1-.4.1h-.1c-.2 0-.4.1-.5.1-.1 0-.3.1-.4.1-.3 0-.5.1-.7.3-.2.2-.3.2-.3.2-.2.1-.3.2-.4.3l-.1.1V4l-.5.5c-.3.1-.4.1-.7.2 0 .3-.1.4-.2.6-.2.2-.4.3-.6.5-.2.2-.3.4-.4.6l.1.1c0 .1 0 .1-.1.2h-.4c-.1.3.2.4.3.3v2.2c0 .3 0 .5.1.8H6c-.2.1.1.4-.1.5-.3 0-.6 0-1 .1 0 .1-.1.1-.2.2 0 .3.2.4.5.5-.1.1-.3.3-.3.5-.2.2-.4.6-.4 1 0 .3.1.5.2.7v.5c-.1.1-.2.2-.3.4-.2.2-.4.5-.4.9l-.2.4c-.1.1-.1.2-.1.3v.1c-.1.1-.1.3-.2.5v.1c0 .1-.1.2-.1.3-.3.5-.4 1.1-.1 1.7.1.3.3.5.6.6 0 0 0 .1.1.5 0 .1-.1.2-.1.2v.5c0 .1-.1.2-.1.3v.1c-.5.1-.7.3-.8.7v.1c-.1.1-.1.3-.1.5 0 .1-.1.3-.1.4V22.9c-.1.2-.2.4-.2.6-.2.2-.3.5-.4.7v.1c-.1.1-.2.3-.2.4 0 .1-.1.2-.1.3v.1c-.1.1-.2.2-.2.3-.3.2-.6.5-.6 1 0 .2 0 .3.1.5v.2c0 .2 0 .4.1.6 0 .1 0 .1-.1.2-.2.2-.2.3-.3.5-.1.3-.4 1.6-.3 1.9 0 .1.1.3.2.4 0 .1.1.1.1.1.3.4 1.1-.2 1.6-.3H2.8c.2 0 .4-.1.5-.1.1 0 .2-.1.4-.1.1 0 .1-.1.2-.1s.1-.1.1-.1H4.3c.1 0 .2-.1.3-.1l.5-.1c.2 0 .3-.1.4-.1h.1c.1 0 .2-.1.2-.1.1-.1.2-.1.3-.2l.1-.1c.2-.1.4-.3.5-.5v-.1s0-.1.1-.1.1 0 .1-.1H7c.1 0 .2-.1.2-.1.1-.1.2-.1.3-.2l.1-.1c.2-.1.4-.3.5-.5v-.1c0-.1.1-.1.1-.2.1-.1.1-.3.2-.4 0-.1 0-.1.1-.2s.1-.2.1-.3c.4-.1.4-.3.4-.4 0-.1 0-.2.1-.2v-.1c0-.1.1-.1.1-.2.1-.2.1-.3.1-.5h.2c.2 0 .4 0 .6-.1H11.1c.1 0 .3 0 .4-.1h.2v.2c0 .3 0 .5.1.7 0 .4-.5 1.3-.3 1.6.2.3 1.2-.1 1.5-.1.2 0 .3 0 .6-.1.1 0 .2 0 .4-.1.2 0 .4-.1.6-.2H16.4c.2 0 .5-.1.7-.1.3 0 .4-.1.7-.1h.2c.4-.1.8-.2 1.1-.3h.9c.2 0 .4 0 .6-.1.2 0 .3-.1.5-.1.1 0 .2 0 .3-.1h.1c.2 0 .3 0 .4-.1.1 0 .3-.1.4-.1.1 0 .2 0 .3-.1.1 0 .2-.1.3-.1.1-.1.3-.2.5-.3h.1l.1-.1c.1 0 .3-.1.4-.1.2 0 .3-.1.4-.1H25.3v.1s0 .1-.1.1h.3l.2-.1c.5-.2.7-.5.8-.7.4-.2.7-.2.7-.7v-.1h.1l.2-.4.2-.1c.3-.1 0 .2.1 0l.2-.1-.1.2.1.1c-.1.2.1-.2 0 0v.2c-.1.1-.1.2-.1.2-.3.2-.2.3-.3.5 0 0 0 .1-.1.1-.1.1-.1.2-.2.3-.3.4-.4.9-.7 1.4-.1.1-.1.2-.2.4l-.1.1c0 .1 0 .3-.1.4 0 .1-.2.3-.1.4.2.1.3.2.5.2-.1 0-.1 0-.2.1.1.2.1.4.2.6.5.1.5-.2.3-.4.1-.1.3 0 .3-.2h-.1c.1 0 .2-.1.4-.1h1.1c.1 0 .2-.1.3-.1.4-.1.7-.2 1.1-.3h.2c.1 0 .2 0 .3-.1.1 0 .2-.1.2-.1.1 0 .2-.1.3-.1.2 0 .3 0 .5-.1.2 0 .3-.1.5-.1s.5-.1.7-.1c.1 0 .1 0 .2-.1.2 0 .3 0 .4-.1.2 0 .3-.1.4-.1l.5-.1.4-.1.2-.1h1.8c.2 0 .4.1.4.1.3 0 .5 0 .8-.1h.2c.1 0 .2-.1.3-.1.3-.1.5-.3.6-.4.1 0 .2-.1.4-.1H39.6c.1 0 .1-.1.2-.1-.1.5-.4 1.5-.4 1.8-.1.3 0 .5 0 .8 0 .2 0 .2.2.3.3 0 .5-.1.7-.1h.3c.2.1.4.1.7.1H42.1c.1 0 .2 0 .4-.1h1.3c-.1.1-.1.1-.1.2.4.5 1.5.1 1.6-.3-.2-.1-.4-.2-.6-.2h.5c.1-.1 0-.2 0-.3 0-.2 0-.4.1-.6.3-.1.5-.2.6-.4h-.4v-.1c.3 0 .6-.1.8-.3.2 0 .4 0 .6-.1h3.3c.1 0 .3 0 .4-.1.1 0 .2 0 .3.1h.7c.2 0 .4-.1.6-.2H55c.1 0 .1.1.1.1.1.1 0 .3 0 .4-.1.2-.2.3-.3.4-.2.2 0 .2.2.3.1.2-.3.5.1.6.2.1.2 0 .4-.1.1-.1.1-.1.3-.1.2 0 .3 0 .5.1 0-.5.7-.5.7-.8h1c.2 0 .5 0 .7-.1h.7c.7 0 2.1-.3 2.3-.7.5-.1.8-.3 1.1-.8.1-.2.2-.3.2-.5.1-.1.1-.2.2-.3l.2-.2c.5-.1.8-.3 1.1-.8.1-.2.2-.3.2-.5V24.2c-.1 0-.2.1-.2.2.1.1.2.1.3 0v.2c-.2 0-.3 0-.4.1.1.1.1.3.2.5.2 0 .3 0 .3-.1.1.1.1.1.1.3V26c0 .1.1.2.2.1.1 0 .2-.2.3-.2.2-.1.4-.1.6-.1.2 0 .5-.1.8 0 0 .1-.1.2-.1.3-.1.2-.3.5-.4.7v.2h-.1c-.1.1-.2.1-.1.3h.2v.1c0 .1 0 .2-.1.3 0 .1-.1.2-.1.4 0 .1-.1.3 0 .4l.1.1c.1.1 0 .1.1.1s.1-.1.2-.1h.8c.3-.1.6 0 .9-.1.2 0 .3-.1.5-.1h.2c.1 0 1.6-.3 2.1-.4h.1c.1 0 .3 0 .4-.1.4 0 .8-.1 1.1-.1.3.1.7.2.8-.1v-.1h-.1c.2 0 .3-.1.5-.1s.3-.1.5-.1h.1c.1 0 .3-.1.4-.1.3-.1.6-.3.8-.5h.2c.2-.1.4-.1.6-.2.1 0 .2-.1.3-.1.4 0 1-.3 1.1-.7 0-.2.3-.2.4-.3.1-.1.2-.2.2-.3 0-.1 0-.2.1-.2.1-.1.2-.1.3-.2.1-.1.2-.1.2-.2.2-.3.5-.4.6-.8.1-.1.1-.2.2-.4s.2-.4.3-.5v-.1c0-.1 0-.1.1-.1 0-.1.1-.2.1-.3.1-.1.1-.3.2-.5 0-.1.1-.2.1-.4 0-.1.1-.2.1-.3v-.1c0-.3-.1-.6-.3-.9-.2-.3-.6-.4-.9-.5-.2 0-.4 0-.6.1-.1 0-.2 0-.3.1.1-.2.2-.3.2-.5v-.1c.1-.1.1-.2.1-.3 0 0 0-.1.1-.1s.1 0 .2-.1h.1c.6-.2 1-.7 1.1-1.3v-.1c.1-.1.1-.2.1-.3 0-.1.1-.1.1-.2s.1-.1.1-.2c.1-.1.1-.2.1-.4.1-.2.1-.3.2-.5l.1-.4c.1-.3.1-.6 0-.9.1 0 .3 0 .4-.1h.1c.1 0 .3 0 .4-.1.3 0 .7-.1 1-.3.1 0 .1-.1.2-.1.1-.1.1-.1.1-.2.2-.2.4-.3.7-.5.1 0 .1-.1.2-.1 0 0 .1 0 .1-.1.1-.1 0-.3 0-.4l.2-.2s0-.1.1-.1l.2-.2.3-.3c.1-.1.2-.2.2-.4.1-.1.1-.2.1-.4.1-.2.2-.4.3-.5.3-.5.4-1.1.6-1.6.1-.2.2-.4.2-.6 0-.2.2-.3.2-.4-.2-.1-.2-.2-.2-.2zM20.3 24.9H20h.3zm2.6-18.8c-.1 0-.1 0 0 0-.1 0-.1 0 0 0zm7 19.7c-.1 0-.2 0-.3.1h-.4.4c.1-.1.2-.1.3-.1h.1c0-.1-.1 0-.1 0zm3.2-.7c-.1 0-.1 0-.2.1-.2 0-.4.1-.7.1-.2 0-.5.1-.7.1.2 0 .4-.1.7-.1.2 0 .5-.1.7-.1.1-.1.2-.1.2-.1.1 0 .3 0 .4-.1-.1 0-.2.1-.4.1zm5.2-.6c.1 0 .1-.1 0-.2.1.1.1.2 0 .2zM39.2 6c.1 0 .2 0 .3.1-.1-.1-.2-.1-.3-.1zm25.5 18.8z"/><path d="M9.9 27.5c0 .6 1 .1.6-.2-.2.1-.5.1-.6.2zM11.1 26.1c0 .1-.1.2 0 .3h.3c-.1-.2-.1-.3-.3-.3zM.9 24.9c-.2-.1-.9-.2-.9.2.1.2.5.1.7.2 0-.2.3-.2.2-.4zM30.3 2.9c0-.2-.2-.2-.4-.1 0 .2.2.2.4.1zM31.7 2.6c.5-.1.6-.5.2-.8h-.3c-.8.1-.5.9.1.8zM18.8.5c-.1-.1-.2-.2-.5-.2-.2.1-.3.2-.3.4.2.3.9.2.8-.2zM19.5.3h.2s0-.1.1-.1V.1c-.1 0-.1 0-.1-.1h-.2s0 .1-.1.1v.1c.1 0 .1 0 .1.1zM24.8 25c0 .1 0 .1 0 0s0-.2.1-.2c0 .1-.1.1-.1.2z"/><path class="bbst0" d="M32.6 6c.2 0 .4-.3.2-.4-.3.1-.3.2-.2.4z"/><g><path class="bbst1" d="M31 7.1c-.2-.2-.4.1-.3.4.2-.1.3-.2.3-.4zM13.5 24.1c0-.3-.1-.4-.3-.4-.1.1-.1.3 0 .5.2 0 .3-.1.3-.1zM24.5 7.7v-.2s-.1 0-.1-.1h-.1c0 .1 0 .1-.1.1v.2s.1 0 .1.1c0 0 .1 0 .2-.1-.1.1-.1 0 0 0zM23.2 8.4c-.1-.1-.3-.1-.4 0 0 .3.2.3.3.3 0-.1.1-.2.1-.3zM25.7 18.9c-.2 0-.3 0-.4.1.1.4.6.3.4-.1z"/><path class="bbst2" d="M16.5 13.9c.1-.2.1-.3.2-.4 0-.1.1-.1.1-.2v.1c0 .1-.1.2-.1.3-.2 0-.2.1-.2.2-.1 0-.1 0 0 0l-.1.1c0 .1 0 0 .1-.1-.1 0 0 0 0 0zM15.7 15.5c.1-.2.2-.3.3-.4V15h-.1l-.1.1c-.1.1-.2.3-.3.4h.2z"/><g><path class="bbst0" d="M28.9 19.2c.2-.2.3-.4.4-.6.1-.2.1-.4.2-.6.1-.2.2-.4.2-.6.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1 0-.2-.1-.4-.1-.1-.1-.2-.1-.4.1-.2.1-.4.1-.6 0-.2 0-.4.1-.6.1-.1.1-.3.2-.4.1-.1.2-.3.2-.4.1-.1.1-.3.1-.4 0-.1.1-.3.1-.4V13c0-.1-.1-.1-.2-.1h-.4c-.1 0-.1.1-.2.1s-.2 0-.3.1c-.1 0-.2 0-.5.1-.3 0-.4.1-.5.1-.2.1-.4.2-.5.2h-.4c-.1 0-.3 0-.4.1h-.3c.1 0 .2-.1.4-.2s.3-.1.4-.2l.3-.3c.1-.1.2-.2.3-.2.1 0 .1-.1.1-.1l.1-.1c-.1-.2.1-.2.1-.4.1 0 .3 0 .3.1.1-.1.2-.2.2-.3.1-.1.1-.2.2-.3.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.2-.3.5-.6.2-.2.3-.3.4-.5l-1.8-1.1 2.5.9v-.1c.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.1-.2.2-.4 0-.1.1-.2.1-.3.2-.1.5-.2.5-.4h-.6v-.1c0-.1.1-.2.1-.3.1-.1.1-.3.1-.4 0-.1.1-.3.2-.4.1-.1.1-.1.1-.2v-.2c.1 0 .1-.1.2-.2 0-.1.1-.2.1-.4.1-.1.1-.2.1-.3v-.1c.6 0 .9-.2.8-.7-.4 0-.6.1-.7.3v-.1c-.1 0-.1 0-.1-.1v-.1H32c-.1 0-.2 0-.3.1l-.2-.1h-.6c-.2 0-.5 0-1 .1-.4 0-.8.1-1 .1l-1.2.2c-.1 0-.3 0-.4-.1-.1-.1-.3-.2-.4-.1l-1 .2c-.2 0-.4.2-.6.3-.2.2-.4.3-.6.3-.1 0-.3.1-.5.1s-.3.1-.5.1h-.2c0 .2-.1.2-.2.2H23c-.1 0-.1.1-.2.1 0 0-.1 0-.2.1-.1 0-.2.1-.3.1-.1 0-.2.1-.4.1 0 0 0 .1-.1.1h-.1c-.2.1-.4.2-.5.3-.1 0-.1.1-.1.1s-.1 0-.1.1v.2l-.2.4c-.1.2-.2.3-.2.4l-.1.1-.1.1v.1c.2.1.2.2 0 .3l-.3.3s0 .1-.1.2v.1s0 .1-.1.1c-.1.1-.1.3-.2.3v.1s0 .1-.1.1V10.1c0 .1 0 .1.1.1h.5c.1-.1.2-.1.4-.1.1 0 .2 0 .4-.1.1 0 .1 0 .2.1h.7c.1 0 .1 0 .3-.1l.2-.1h.2-.1l-.1.1s0 .1-.1.1-.1.1-.1.1c-.1.1-.2.1-.2.1-.1 0-.1.1-.2.1l-.1.1-.1.1s-.2.1-.5.2-.5.2-.5.2v.1c0 .1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.1-.1.2-.2.4-.1.1-.1.3-.2.4 0 0-.1.1-.1.2s-.1.1-.1.2c-.1.2-.2.4-.2.5-.1.1-.1.2-.1.3 0 .1 0 .1-.1.2s-.1.2-.3.4c-.1.1-.1.3 0 .4.1.2.1.3-.1.4-.2.1-.3.3-.4.4-.1.1-.1.2-.2.3-.1.1-.2.2-.2.3-.1.1-.1.3-.1.4 0 .1-.1.3-.1.4-.1.1-.1.2-.1.4 0 .1-.1.3-.2.4 0 .1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3v.1s.1.1.2.1.1.1.2.1v.2c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.1-.1.2-.1.3 0 .1 0 .2-.1.3-.1.1-.1.3-.3.4-.1.1-.2.3-.2.4 0 .1-.1.3-.1.4 0 .1-.1.3 0 .4 0 .2-.1.3-.2.4-.1 0-.2.1-.3.2v.1H16.3V23.8c0 .1 0 .2-.1.3v.1h.1c.1 0 .2 0 .3-.1.1 0 .3 0 .4-.1.2 0 .3-.1.4-.1.2 0 .5-.1.8 0h.7c.2 0 .3-.1.5-.1s.3 0 .5-.1l.8-.1 1.2-.3h1.4c.1 0 .3 0 .4-.1.1 0 .2 0 .4-.1h.4c.1 0 .3 0 .4-.1.1 0 .2 0 .4-.1.1 0 .1-.1.1-.2s.1-.1.1-.2c.2 0 .3-.1.5-.1s.3-.1.5-.1c.1 0 .2 0 .2-.1.1 0 .2 0 .4-.1h.8c.1 0 .2-.1.2-.1 0-.1.1-.1.1-.2s.1-.1.1-.2c0 0 0-.1.1-.1.2 0 .3-.2.4-.3 0-.2.1-.4.1-.5.1-.2.1-.3.2-.5-.5-.6-.3-.8-.2-1zM21.6 8.7c-.3.1-.4 0-.4-.3.3 0 .4.1.4.3zm-3.3 12.2c-.3-.3-.3-.9.3-.8.2.3.1.7-.3.8zm7-2.5c-.1.3-.3.5-.5.8-.1.1-.1.2-.1.2s0 .1-.1.2-.3.2-.5.2-.3 0-.5.1c-.1 0-.3 0-.4.1-.1 0-.2 0-.3.1-.2 0-.5.1-.7.1-.2 0-.5.1-.7.1-.1 0-.2 0-.3.1-.1 0-.2 0-.3.1-.1 0-.1 0-.2.1-.1 0-.2 0-.2.1 0 0 .1-.1.1-.2s.1-.1.1-.2v-.1-.1l.1-.4v-.1-.1c0-.2.1-.5.3-.8 0-.1 0-.2.1-.3.1-.1.1-.1.1-.2s0-.2.1-.2c0-.1.1-.3.2-.5h.2l.9-.2c.1 0 .2 0 .1.1 0 .1 0 .1.1 0 .1 0 .3-.1.6-.2.1 0 .2-.1.3-.1.1-.1.2-.1.3-.1.2 0 .3-.1.5-.1s.3 0 .5-.1l.6-.1v.4c0 .2-.1.4-.1.6-.1 0-.1.1-.2.2 0 .1.1.3 0 .4l-.1.1c-.5.1-1.1.2-1.2.5.4-.3.8-.5 1.2-.5 0-.1 0 0 0 0zm1.8-8.4c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.3-.2.5-.5.8-.3.3-.4.5-.6.7-.1.1-.1.2-.2.3-.1.1-.2.2-.2.3l-.3.3-.3.3c-.1.1-.2.1-.3.2-.1.1-.2.1-.3.2-.1.1-.3.2-.4.3-.1.1-.2.2-.4.3-.1.1-.2.1-.3.2-.1.1-.2.1-.3.2-.1 0-.2.1-.3.1.1-.1.1-.2.1-.4 0-.1.1-.2.2-.4 0 0 .1-.1.1-.3.1 0 .1-.1.2-.2 0-.1.1-.2.3-.3.2-.1.3-.2.3-.3v-.2c.1-.2.1-.4.2-.6l.3-.6c.1-.1 0-.2 0-.3-.1-.1-.1-.2 0-.3 0 0 0-.1.1-.1 0 0 0-.1.1-.1l.1-.3.1-.3c.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.2-.2.2-.4.2-.5 0-.1.1-.2.1-.3.1-.1.2-.2.3-.2h.2c.2 0 .5-.1.8-.2.1 0 .1 0 .3-.1l.6-.1h.2c-.1.2-.1.3-.2.5s0 .3.1.4c.1.1.1.2.1.3-.1.1-.1.2-.3.4 0 .1 0 .2-.1.3z"/></g><g><path class="bbst1" d="M4.3 28.2c.1 0 .2-.1.5-.2.1 0 .3-.5.5-.6.1 0 .2 0 .2-.1.1 0 0 .4.1.4s.2-.1.3-.1H6l.6-.1H7s.1-.1.2-.1c.1-.1.1-.1.2-.1v-.1c0-.1.1-.2.1-.4 0-.1.1-.2.1-.4 0-.1.1-.2.1-.3 0-.1.1-.2.1-.2 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0 0 0-.1.1-.1 0 0 0-.1.1-.1 0 0 0-.1.1-.2h-.2c-.1 0-.1.1-.2.1.1-.1.1-.2.1-.3v-.1h-.5c0-.1.1-.1.1-.2s.1-.1.1-.2L8 24c.2-.2.3-.2.3-.3 0-.1.1-.2.1-.3v-.2c1.3-.3 1-.8.4-1.1 0-.1.1-.2.1-.3l.1-.1v-.2-.1l.1-.3V21v-.1c.1-.1.1-.2.1-.3.1-.1.1-.3.2-.4.1-.1.1-.2.1-.2v-.3l.1-.1v-.2h.1v-.2c0-.1.1-.2.2-.3v-.1-.2c.1-.2.2-.3.3-.5 0-.2.1-.3.2-.5s.1-.3.2-.5c0-.1.1-.2.1-.3 0-.1.1-.2.1-.3v-.1s.1-.1.1-.2 0-.1.1-.2c0-.1.1-.1.2-.1h.4c.1 0 .2 0 .3-.1h.2l.3-.1h.5c0 .1-.1.1-.1.3-.1.2-.2.4-.2.7-.1.2-.2.5-.2.7 0 .1 0 .2-.1.3 0 .1 0 .2-.1.3v.2c0 .2-.1.3-.1.4 0 .1-.1.2-.1.3 0 .1 0 .2-.2.2 0 .2-.1.4-.1.5 0 .2-.1.3-.1.5s-.1.4-.2.6c-.1.2-.1.4 0 .7v.2s.1 0 .2.1h.6c.1 0 .2-.1.3-.1h1.1c.1 0 .2 0 .2-.1s.1-.1.2 0c.1 0 .2 0 .2-.1s0-.1.1-.2c0-.1 0-.2.1-.2 0-.1 0-.2.1-.3 0-.1.1-.2.1-.3v-.1s0-.1.1-.1h-.2c0-.1 0-.2.1-.2 0-.1 0-.1.1-.2 0-.1.1-.1.1-.2s0-.2.1-.2c0-.1.1-.2.1-.3 0-.1.1-.2.1-.3 0-.1.1-.2.1-.4v-.1-.1s.1-.1.1-.2l.2-.2.4-.6c.1-.1.1-.2.2-.3.1-.3.2-.6.2-.8 0-.1 0-.2.1-.3 0-.1.1-.1.1-.2.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3 0-.1.1-.1.1-.2s.1-.1.1-.2c.1-.3.2-.6.3-.7.2-.3.3-.6.4-1 0-.1.1-.3.1-.4.1-.1.1-.2.1-.4 0-.1 0-.2.1-.3 0-.1.1-.2.2-.3.1-.1.1-.3.1-.4 0-.1.1-.3.1-.4 0-.1.1-.3.1-.4 0-.1.1-.2.1-.4s.1-.4.2-.7c0-.1 0-.1.1-.2v-.2-.7c0-.1 0-.1.1-.2.1-.2.1-.4.2-.5v-.1-.1c0-.1 0-.2.1-.4 0-.1.1-.2.1-.2 0-.1.1-.2.1-.3v-.1-.1h.1v-.2c0-.1.1-.3.1-.5.1-.2.1-.4.2-.5.1-.2.1-.4.2-.6 0-.1.1-.2.1-.3.1-.1.1-.2.2-.3v-.3c-.1-.2-.2-.2-.4-.1s-.4.1-.5 0h-.1-.4c-.1 0 .1 0 0 0h-.8c-.1.1-.2.1-.3 0 0 0-.1 0-.2.1h-.6c-.1 0-.3.1-.4.3-.1.2-.1.3-.2.5 0 .2-.1.3-.2.5s-.1.5-.1.7c0 .2 0 .4-.1.7-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3 0 .1-.1.1-.1.2s-.1.1-.1.2-.1.1-.1.2v.1h-.1c0 .2.2.2.3.2 0 0 0 .1-.1.1-.1.1-.2.1-.2.2s-.1.2-.1.3c-.1.1-.1.2-.1.3 0 .1 0 .2-.1.3-.1.1-.2.3-.3.4 0 .3-.1.4-.2.6-.1.1-.1.2-.1.3 0 .1 0 .2-.1.3-.1.1-.1.3-.2.4-.1.2-.1.3-.2.4l-.4 1c-.1.1-.1.3-.1.4 0 .1-.1.3-.1.4 0 .1-.1.1-.2.2h-.8c-.1.1-.2.1-.3.1H12h-.1-.1v-.1-.1-.1c.1-.2.1-.3.2-.6.1-.2.1-.4.1-.5 0-.1 0-.1.1-.2s.1-.2.1-.2c0-.1.1-.1.1-.2-.1-.1-.1-.1 0-.1v-.1c0-.1.1-.2.1-.2 0-.1.1-.2.1-.3v-.3c0-.1 0-.2.1-.3.1-.1.1-.1.1-.2V9c.1-.1.1-.2.1-.4 0-.1 0-.1.1-.2v-.2c.1-.1.1-.3.1-.4 0-.1.1-.2.1-.3.1-.2.2-.4.2-.5.1-.2.1-.4.1-.5 0-.1.1-.1.1-.2v-.2c0-.2 0-.4.1-.6v-.1-.2c0-.1 0-.1.1-.2s.1-.3 0-.4c0-.1-.1-.2-.1-.3.3.2.3.1.3 0l-.2-.2h-.2c-.1 0-.3.1-.3.1-.1 0-.2 0-.3.1h-.8c-.1 0-.1.1-.2.1-.2 0-.3.1-.5.1-.1 0-.3.1-.5.2h-.1c-.1.2-.2.3-.3.3-.1 0-.1 0-.2.1s-.1.2-.2.2c-.1.1-.1.2-.2.3 0 0 0 .1-.1.1.1.1 0 .2 0 .3 0 .1 0 .2-.1.4 0 .2-.1.3-.1.3V7c0 .1 0 .2-.1.2 0 .1 0 .2-.1.3 0 .1-.1.2-.1.3-.1.1 0 .3 0 .4.1.1.1.2 0 .4-.1.4-.2.7-.3 1 0 .2-.1.5-.2.7.1 0 .1.1.1.1-.1 0-.3 0-.4-.1-.2.1.1.4-.1.4-.3 0-.5 0-.9.1 0 .1-.1.1-.2.2 0 .4.6.5 1.1.4-.1.1-.1.2-.1.3-.1.1-.1.1-.1.2-.1-.2-.4-.1-.6-.1 0 .2-.1.3-.1.5.2 0 .4 0 .6-.1v.4c0 .1-.1.2-.1.3 0 .1-.1.2-.1.3 0 .2-.1.2-.2.2h-.2l.6.2h-.1H8h-.1-.7l-.2.2c-.1.1-.1.2-.1.3 0 0 0 .1-.1.2l-.3.6v.2c0 .1-.1.2-.1.3 0 .1-.1.2-.1.3 0 .1-.1.2-.1.3-.2 0-.3.1-.3.2-.1.2-.2.4-.1.6H6.1s.1 0 .2-.1c.1 0 .1 0 .2-.1.1 0 .3-.1.4-.1h.2V16.8c0 .1-.1.2-.1.4 0 .1-.1.2-.1.4v.2s0 .2.1.4v.4c0 .1-.1.2-.1.2v.2c0 .1 0 .2-.1.3 0 .1 0 .2-.1.3 0 .1-.1.2-.1.2 0 .2-.1.3-.1.4v.1c0 .2-.1.2-.2.2s-.1.1-.2.2l-.1.2v.2c0 .1-.1.2-.1.2v.2c0 .3-.1.5-.2.7v.1c0 .1 0 .2-.1.2 0 .1 0 .1-.1.2 0 .1-.2.2-.2.2l-.3.4c0 .2-.1.3-.1.4 0 .1-.1.2-.1.4 0 .1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.2-.1.3-.2.4h-.1.1v.1c0 .1-.5.2-.5.3 0 0 .3.1.2.2 0 .1 0 .1-.1.1 0 0-.1.1-.1.2v.1c0 .1.4.2.3.3 0 .1-.1.2-.1.3l-.2.6c0 .1-.1.2-.1.3v.3c0 .1.1.1.1.2s.1.1.1 0c.1.1.2.1.3.1zm3.4-3.1zm4.5-11c-.1.1-.3.1-.5.1-.1-.2.1-.3.1-.5.2.1.4.1.4.4zm-3.5-3.2h0c.1 0 .1.1 0 .1v-.1z"/><path class="bbst1" d="M10.1 22.4c0 .2.2.2.4.1.1-.2-.2-.1-.4-.1z"/></g><path class="bbst3" d="M14 16.7c-.1.1-.3 0-.4.1l-.6.3c-.1.2-.1.3-.2.5 0 .1 0 .2-.1.2v.4c0 .1 0 .1-.1.2-.1.2-.1.3-.2.5 0 .2-.1.5-.2.6 0 .1-.1.2-.1.3 0 .2-.1.3-.1.4 0 .2-.1.4-.1.6.1 0 .2-.1.3-.1H13c.1-.1.1-.1.2-.1v-.1c0-.1 0-.2.1-.2v-.1-.4-.2c0-.1 0-.2.1-.3 0-.1.1-.1.1-.2s.1-.2.1-.3c0-.1 0-.2.1-.3 0-.1.1-.2.1-.4 0-.1.1-.2.1-.4 0-.1.1-.2.1-.3l.1-.1c.1-.1.1-.2.3-.3l.3-.5c.1-.1.1-.2.1-.3v-.1c-.3 0-.6.1-.8.2.2.2.1.3 0 .4zM8.8 17.6c-.3 0-.4 0-.7.1l-.9.3V18.3c.1.4.1.6 0 .8 0 .1 0 .1-.1.2v.2c0 .1 0 .2-.1.3v.2c0 .1 0 .1-.1.2v.1c0 .2-.1.4-.2.5-.1.3-.3.5-.4.6 0 .1 0 .2-.1.3v.3c0 .3-.1.5-.2.7 0 .1 0 .2-.1.3 0 .1 0 .2-.1.2 0 .2-.1.3-.2.4 0 .1-.1.1-.1.1 0 .1-.1.2-.1.3 0 .1-.1.2-.1.2 0 .1 0 .1-.1.2 0 .1-.1.1-.1.2s0 .1-.1.2c-.1.2-.1.3-.2.5v.2c-.1.1-.1.2-.2.3v.1c.3.3.2.7.1.8 0 .1-.1.1-.1.2.2.1.3 0 .4 0h.1c.1 0 .2-.1.3-.1.2 0 .4.1.5.2h.3s.1 0 .1-.1l.2-.2v-.1c0-.1.1-.3.1-.4v-.1c.3-.1.4-.3.4-.4l-.1-.1s0-.1-.1-.1-.2-.1-.2-.2c-.1-.1-.2-.3-.2-.6v-.2c0-.1.1-.3.2-.4.1-.3.3-.5.5-.7.1-.1.1-.1.2-.1v-.1c0-.1 0-.2.1-.2.1-.2.3-.4.5-.5-.1-.2-.1-.4-.1-.5 0-.2.1-.3.2-.4 0 0 0-.1.1-.1v-.2l.1-.3v-.1s0-.1.1-.1v-.1c0-.1 0-.1.1-.2 0-.1.1-.2.1-.3 0-.1 0-.1.1-.2 0-.1 0-.2.1-.3 0-.1.1-.1.1-.2s0-.3.1-.5c0-.1.1-.2.1-.3v-.1c0-.2.1-.3.2-.5.1-.1.1-.2.1-.2 0-.1.1-.3.1-.4h-.1c-.1 0-.3.1-.5.1z"/></g><g><path class="bbst1" d="M45.1 10.4c0 .1-.1.2-.1.3-.1.2 0 .2.1.3.1 0 .1 0 .2.1h.2c.2 0 .4 0 .6-.1.2 0 .4 0 .6-.1h.5c.1 0 .3-.1.4-.1H48.7s.1 0 .1-.1H49.1l-.1.1s0 .1-.1.1c-.1.1-.1.1-.2.1l-.1.1s0 .1-.1.1-.1.1-.2.1l-.1.1-.1.1-.2.2c-.1.1-.2.2-.2.3 0 0 0 .1-.1.1l-.3.3-.3.3c0 .1 0 .1.1.2.1 0 .1.1 0 .2s-.1.2-.2.3c-.1.1-.1.2-.2.3-.1.1-.2.3-.4.4l-.1.1 1.6.7.7.5.9.4.1-.1c.1-.1.2-.2.2-.4.1-.1.1-.3.2-.4.1-.1.1-.2.2-.3v-.1c0-.1.1-.2.1-.2 0-.1.1-.1.2-.1s.1 0 .2-.1.1-.2.1-.3c0-.1.1-.2.1-.3 0-.2.1-.4.2-.6 0-.1.1-.2.1-.3 0-.1.1-.2.1-.2s0-.1.1-.2v-.1c.1-.1.1-.2.2-.3 0 0 0-.1.1-.1l.4-.7.2-.4s0-.1.1-.2c.1 0 .2-.1.3-.1.1 0 .2 0 .3-.1.1 0 .2-.1.3-.1.1 0 .2 0 .3-.1.1 0 .2-.1.3-.1.1 0 .2 0 .3-.1.1 0 .1-.1.2-.1s.2 0 .2-.1c.2-.1.4-.1.5-.2 0 0 .1-.1.1-.2s.5-.2.5-.3v-.1l-2.9-.6-1.5-.3-2.6-.6c-.1 0-.1 0-.1.1s-.1.2-.1.2h-.1l-.1-.1-.1-.1h-.6c-.2 0-.4 0-.6.1-.2 0-.3 0-.5.1-.1 0-.2.1-.2.1-.1 0-.1.1-.1.1s0 .1-.1.1c-.1.1-.1.1-.1.2s-.1.1-.1.2-.1.2-.1.3c0 .1-.1.2-.2.3 0 0 0 .1-.1.1 0 .1 0 .1-.1.1-.1.1-.1.2-.2.4s-.1.3-.2.4c.3.3.3.4.2.5zM56.8 8.4c0-.2.1-.3.2-.4.1-.1.1-.2.2-.3 0-.1.1-.2.1-.2 0-.1.1-.2.1-.2 0-.1.1-.2.1-.3 0-.1.1-.2.1-.2s0-.1.1-.1c0 0 0-.1.1-.1l.2-.4v-.1h-.1c-.1 0-.2.1-.3.3-.1.1-.2.2-.4.3-.1 0-.2.1-.3.1-.1 0-.2.1-.3.1-.1 0-.3.1-.4.1-.1 0-.3.1-.4.1h-.1c-.1 0-.2 0-.2-.1-.5-.5-.5-.5-.6-.5h-.1-.1-.1c-.1 0-.1-.1-.2-.1h-.1l-.3.1-.2.1c-.1.1-.2.1-.3.2-.1 0-.2.1-.3.1h-.3c-.1 0-.2 0-.3.1h-.1c-.1 0-.2 0-.2-.1-.1-.1-.1-.1-.2-.1H52c-.1 0-.3.1-.5.2-.3 0-.5 0-.6.1h-.1l6 1.3zM48.3 17.7s-.1.2-.2.5c0 0 0-.1.1-.1.1-.1.2-.2.1-.4.1 0 .1-.1.2-.3 0-.1.1-.2.1-.3 0-.1.1-.2.1-.3 0 0 0-.1.1-.1v-.2-.2-.1c0-.1.1-.1.1-.2h-.1l-2.5-1.1-.8-.4c0 .1-.1.2-.1.3 0 .1-.1.3-.2.4l-.6 2.6c0 .1-.1.2-.1.3 0 .1-.1.2-.1.2 0 .1 0 .1-.1.2s-.1.2-.1.3c0 .1-.7 2.3-.8 2.4 0 .1-.1.2-.1.3 0 .1-.1.2-.2.2v.1c-.1.2-.1.4-.2.5-.1.2-.1.4-.2.6-.1.2-.1.5-.2.7-.1.2-.1.5-.1.7v.2s.1 0 .2.1v.1c0 .1 0 .1.1.1h1c.1 0 .2-.1.3-.1h.8c.1 0 .2 0 .2-.1l.1-.1h.1l.1.1s.1 0 .1-.1.1-.2.1-.2c0-.1 0-.2.1-.3.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3l.1-.1s0-.1.1-.1l.7-2.2c.1-.2.1-.4.2-.5.1-.2.1-.4.2-.5v-.3-.2-.2l.2-.2c.1-.1.2-.1.2-.2v-.1-.1c.1-.1.1-.2.1-.2.1-.1.1-.2.2-.4.4-.2.5-.3.5-.4zm-3.7.4c0 .1-.1.3-.2.5 0 0 .1-.2.2-.5zM43.3 16.9v.3c0-.1.1-.2.1-.4.1-.1.1-.3 0-.4v-.5c.1-.1.1-.2.1-.2 0-.1.1-.2.1-.2 0-.1.1-.3.1-.4 0-.1.1-.2.2-.3v-.1-.1-.1-.1h-.5-.1-.1-.1-.1-.1c-.2-.1-.4-.2-.5-.3-.2-.1-.3-.2-.5-.3h-.5c-.2 0-.3.1-.4.1h-.1c-.1 0-.2-.1-.3-.1-.1 0-.2 0-.3-.1H40c-.1 0-1.4-.2-1.9-.3H38h-.1-.1c-.1 0-.2 0-.3-.1h-.1c-.1-.1-.3-.1-.4-.1-.1 0-.3-.1-.4-.1h-.1-.1V13v-.1-.1c.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3l.1-.1V12c.1-.1.1-.1.1-.2l-1.3-.9 1.4.6.1-.3.1-.3c.1-.1.1-.2.1-.3.1-.1.1-.1.1-.2 0-.2.1-.4.2-.6.1-.1.1-.2.2-.4.1 0 .1-.1.1-.1.1 0 .3 0 .5-.1.1 0 .2-.1.3-.1h.3l.6-.1h.3c.1 0 .2-.1.2-.1h.3V9s0 .1-.1.1c0 0 0 .1-.1.1-.1.1-.1.2-.1.3 0 0-.1.1-.1.2s-.1.3-.2.4c-.1.1-.1.3-.1.3-.1.1-.1.3-.1.3 0 .1-.1.2-.1.3v.1c0 .1 0 .1-.1.2 0 .1 0 .2-.1.3v.1h1.5c.3 0 .4-.1.6-.1h.7c.1 0 .2-.1.2-.2l.1-.1s.1 0 .1-.1c.1-.1.1-.2.1-.3v-.2c.1 0 .1-.1.1-.2s0-.2.1-.2c0 0 .1-.3.2-.5 0-.1.1-.2.1-.2v-.1l.1-.1.1-.1c.1-.2.1-.3.1-.4.6-.5.7-.6.7-.7.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.1-.3.2-.4 0-.1.1-.3.2-.4v-.1-.1c0-.2.1-.3.2-.4v-.1V6c.1-.2.2-.3.2-.3 0-.1.1-.2.1-.3 0-.1 0-.1-.1-.2h-.1c-.1.1-.2.1-.3.1-.1 0-.2 0-.2.1-.1 0-.1.1-.2.1s-.2 0-.2.1c-.1 0-.2 0-.3.1h-.1-.1s-.1 0-.1.1c-.1.1-.2.2-.3.2H43h-.1c-.1 0-.1-.1-.2-.1H42.4c-.1 0-.2 0-.3.1-.1 0-.2 0-.3.1-.2 0-.5.1-.8.2-.3.1-.6.2-.8.2H40h-.1c-.1 0-.1 0-.2-.1-.2-.3-.3-.4-.5-.4h-.1-.1c-.2 0-.2.1-.3.1l-.6.1c-.2 0-.4.1-.6.1-.2 0-.3.1-.5.1-.1 0-.2.1-.3.1-.1 0-.2 0-.3.1-.1 0-.2 0-.3.1-.1 0-.2 0-.2.1-.1 0-.2.1-.3.1-.1 0-.2 0-.3.1-.1 0-.1.1-.1.1l-.1.1-.1.1c-.1 0-.1.1-.1.2s-.1.1-.1.2c-.1.1-.1.1-.1.2s-.1.1-.1.2c-.1.1-.2.3-.2.4v.2l-.2.2-.2.2s0 .1-.1.1l-.1.1V9.6s0 .1-.1.1c0 0 0 .1-.1.1h1l.4-.3H35.3h-.1l-.2.1-.1.1c-.1 0-.1.1-.2.1 0 0-.1.1-.2.1l-.1.1-.1.1-.2.1-.2.2-.3.3s0 .1-.1.1c0 0 0 .1-.1.1l-.1.3v.3c0 .1 0 .2-.1.2s-.2 0-.2.1v.1c.1.1.1.1.1.2V12.4c-.1 0-.1.1 0 .1 0 .2 0 .4-.1.6-.1.1-.1.2-.2.3 0 .1-.1.2-.2.3v.1c-.1.1-.1.2-.1.3v.2l-.1.1-.1.1c-.1.1 0 .2.1.2h.6c.1 0 .2.1.3.1H33.6c.1 0 .3.1.4.1.1 0 .3.1.4.1.1 0 .3.1.4.1.1 0 .3.1.4.1.1 0 .8.1 1.4.2.3.1.6.1.6.1.1.1.2.1.3.2H37.8c.2.1.3.1.5.1s.3 0 .5.1H39.7c.1 0 .2 0 .3.1h.2c0-.1.1-.2.1-.2s0-.1.1-.1c0 0-.1.3-.1.4 0 0 0-.1-.1-.1 0 .1-.1.2-.2.2v.1c-.1 0-.1.1-.2.2s-.1.1 0 .2h-.1H40s.1 0 0 0c-.1.1-.1.1-.1.2s-.1.1-.1.2l-.2.4v.2l-.1.1s-.1 0-.1.1c-.1 0-.2.1-.2.1l-.2.2s0 .1-.1.3v.2c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3l-.1.1c-.1 0-.3 0-.4.1h-.4c-.1 0-.2.1-.2.1h-.3c-.1 0-.3.1-.4.1h-.8l-.6.1h-.1v-.1c0-.1.1-.1.1-.2s.1-.1.1-.2v-.1-.1c.1-.2.2-.4.2-.6v-.1c0-.1.1-.3.2-.5 0-.1.1-.2.1-.2 0-.1.1-.2.1-.2 0-.1 0-.1-.1-.1h-.2c-.1 0-.2 0-.3.1-.3 0-.4.1-.6.1-.1 0-.2.1-.3.1-.1 0-.3.1-.4.1-.2.1-.3.1-.5.1h-.1-.1c-.2.1-.4.1-.5.2H33h-.1c-.2.1-.3.1-.4.2l-.2.1c-.1 0-.1 0-.1.1l-.1.1c-.2.1-.3.3-.3.4-.1.1-.1.3-.2.4v.4c-.1.1 0 .2.1.3.1.1.1.2.1.2l-.3.6-.3.6c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.2s0 .1-.1.1c0 0-.1.1-.2.1-.2.1-.2.2-.2.2V23.3c-.1.1-.1.2-.1.2 0 .1-.1.2-.1.2v.2h.4s0 .1.1.1h.8c.1 0 .2-.1.4-.1.1 0 .2 0 .3-.1h.2c.1 0 .2-.1.3-.1.1 0 .2-.1.3-.1h.2c.1 0 .2 0 .2-.1.2 0 .4-.1.6-.1.2 0 .4-.1.6-.1.1 0 .2-.1.2-.1.1 0 .3 0 .4-.1.1 0 .2 0 .3-.1.2-.1.4-.1.8-.2.1 0 .2 0 .2-.1.1 0 .2 0 .2-.1h1.1c.1 0 .2 0 .3-.1h.1c.2 0 .6.1.7.1.1 0 .2 0 .3-.1.1 0 .2 0 .2-.1.1 0 .1 0 .2-.1.1 0 .1-.1 0-.2s-.1-.1 0-.2h.8c.1 0 .2-.1.4-.1.1 0 .1 0 .2-.1.1 0 .2-.1.2-.1l.3-.6.1-.3c.1 0 .1-.1.1-.2s.1-.1.1-.2v-.1-.1c0-.1-.5-.3-.4-.4 0-.1.1-.1.1-.2v-.1c.1-.1.1-.2 0-.3 0-.1-.1-.1 0-.1 0-.1.1-.3.2-.4l.2.4c.1 0 .2-.1.2-.2l.1-.4c.1-.2.3-.5.3-.6 0-.1.1-.3.2-.4 0-.1.1-.2.2-.2l.3-.3zM36.6 19zM84.3 8.8c0-.1 0-.1 0 0h-1.1c-.1 0-.3 0-.4.1H82c-.5 0-.9.1-1.4.2h-.2-.1c-.3 0-.4-.1-.5-.1h-.1c-.3 0-.5 0-.7.1-.1 0-.2 0-.3.1-.1 0-.2.1-.3.1h-.7H77.1c-.1.1-.2.2-.2.3-.1 0-.1.1-.1.1l-.1.1-.3.3c-.1.1-.2.2-.2.4-.1.2-.2.4-.2.6 0 .2-.1.4-.2.6-.1.1-.1.2-.3.2l-.3.3h.6s.1-.1.2 0h.1s0 .1-.1.1-.1 0-.2.1l-.4.1-.1.1h-.1l-.1.1h.2l1.4.1 1.7.5c.1-.1.1-.2.2-.3 0-.1.1-.1.1-.2s.1-.1.2-.2v-.2-.1-.1c.1-.1.1-.2 0-.2v-.1h.1c.1 0 .2 0 .3-.1.1 0 .2 0 .3-.1h.5c.1 0 .2-.1.3-.1h.3c.1 0 .3-.1.4-.1.1 0 .3 0 .4-.1.1 0 .2-.1.4-.1.1 0 .3 0 .4-.1h.2c.1 0 .1 0 .2-.1.2 0 .3 0 .5-.1.1 0 .1-.1.2-.1 0 0 .1 0 .1-.1 0 0 0-.1.1-.1 0 0 0-.1.1-.2 0-.1 0-.1.1-.2.1-.2.2-.5.3-.7.1-.2.2-.4.3-.7 0-.1.1-.2.1-.2 0-.1.1-.1.1-.2s0-.1.1-.2c-.3.5-.3.5-.4.5zM73 23.3l-1.2-.8-.2-.2v.1c-.1.1-.1.2-.1.3 0 .1-1.7.5-1.8.6 0 .1-.1.2-.1.2 0 .1-.1.2-.1.2l-.1.1v.1c0 .1 0 .1-.1.2v.2c-.1 0-.1.1-.1.2s0 .1-.1.2c0 .1 0 .2-.1.4-.1.1-.2.3-.2.4 0 .1-.1.1 0 .2l.1.1h.1c.1 0 .2-.1.2-.1.1 0 .2 0 .2-.1.1 0 .3-.1.4-.1.1 0 1.9-.3 2.1-.4h.3c.1 0 .2 0 .3-.1.1 0 .2 0 .4-.1h.2l.7-.1c.2 0 .3 0 .4-.1.2 0 .4-.1.6-.1.2 0 .4-.1.6-.1.2 0 .3-.1.5-.1l-.9-.1-2-1zM79.3 15h-.2c-.1 0-.2.1-.4.1-.1 0-.3 0-.4.1-.2 0-.3.1-.5.1s-.3.1-.5.1h-.1v-.1l.1-.2c.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3l.1-.1-1.2-.4-1.7-.1-.4-.3-.3.5c-.1.2-.1.4-.2.4l-.4.9c-.1.1-.1.2-.2.3 0 .1-.1.2-.2.4v1l-.3.7-.3.6c-.1.1-.1.2-.2.3s-.1.2-.1.3c-.1.1-.1.3-.2.4 0 .1-.1.3-.2.4l-.3.8c0 .1-.1.1-.1.2v.4l.5.3.7.2 3.2 2.1.4.2h.3c.2 0 .3-.1.5-.2.1 0 .2-.1.3-.1.1 0 .2-.1.3-.1.2 0 .3-.1.3-.3.1-.1.1-.3.2-.5s.2-.3.2-.5c0-.1.1-.2.1-.2 0-.1.1-.1.1-.2.1-.1.1-.3.2-.5s.1-.3.2-.5v-.1l-.1-.1h-.3c-.2 0-.4.1-.5.2-.1.1-.3.1-.5.1-.1 0-.2.1-.4.1-.1 0-.3 0-.4.1-.3 0-.5 0-.7.1-.2 0-.5.1-.7.1h-.4-.1-.1c0-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.2-.3.2-.4.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.1-.2.2-.3.1-.1.2-.2.2-.3l.1-.1c0-.1.1-.1.1-.2.1-.1.1-.2 0-.3v-.3c.1-.1.1-.2.2-.2s.2 0 .4-.1c.1 0 .3-.1.4-.1.2 0 .3-.1.4-.1.2 0 .4-.1.5-.2.2-.1.3-.1.5-.2.2 0 .3-.1.3-.3 0-.2.1-.3.1-.4.1-.1.1-.2.2-.4 0-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.1-.3.1-.4 0-.1.1-.2.1-.4.2.2.2.1.1.1zM59.5 21.2v.2c-.1.2-.2.3-.3.5-.1.1-.2.3-.3.4 0 .1-.1.2-.1.3 0 .1-.1.2-.2.3 0 .1-.1.1-.1.2s0 .1-.1.2l-.3.7v.2s0 .1.1.1c0 .1.1.1.2.2h.7c.1 0 .2.1.3.1h.3c.3-.1.5-.1.9-.1h.1c.1 0 .2 0 .2-.1.1-.3.3-.5.5-.7h.2c.1.1.1.1.2.1s.2-.1.2-.2c.1-.1.1-.1.1-.2s0-.2.1-.2c.1-.1.1-.1.1-.2s0-.1.1-.2l.1-.1-1.9-.9-1.1-.6zM61.3 16.4v.1s-.1.1-.1.2-.1.1-.1.2c-.1.1-.1.2-.2.4-.1.1-.1.3-.2.4 0 .1-.1.1-.1.2s0 .1-.1.2c0 0 0 .1-.1.1 0 0 0 .1-.1.1-.1.1-.5 1.3-.8 1.9l3 1.2c0-.1.1-.1.1-.2s0-.1.1-.2.9-2 .9-2.1c0-.1.1-.1.1-.2.1-.2.2-.3.3-.3.1 0 .1 0 .2-.1h.1l-2.9-1.9h-.1zM63.1 9.3c.1 0 .3-.1.4-.1.1 0 .2 0 .4-.1H64.2L65 9h.8c.1 0 .1-.1.2-.1H66.3 66s0 .1-.1.1-.1.1-.2.1l-.1.1-.1.1-.2.1-.1.1-.1.1-.2.2c-.1.1-.2.2-.2.3 0 0 0 .1-.1.2 0 0 .1-.2 0-.1l1.4.3h.9l1.2.4c.1-.1 0 .1 0 0s.1-.1.1-.2.1-.1.1-.2v-.1s0-.1-.1-.1-.1-.1-.1-.2c.1-.2.2-.3.2-.4.1-.1.1-.1.1-.2s.1-.1.1-.2.1-.2.1-.3c0-.1.1-.2.2-.3h.2c.2 0 .4 0 .6-.1.2 0 .4 0 .6-.1h.8c-.1.1-.2.2-.3.4-.2.1-.3.2-.3.4-.1.1-.1.2-.2.3 0 .1-.1.2-.1.3 0 .1 0 .2-.1.3 0 .1-.1.2-.2.3-.1.1-.1.3 0 .4v.4c0 .1-.1-.1-.1-.1l1.1.3 2 .4c0-.1.1 0 .2-.1 0-.1.1-.2.3-.3l.3-.3s.1-.1.1-.2.1-.1.1-.2l.1-.3c.1-.2.2-.3.3-.5 0 0 .1-.1.2-.1h-.1s0-.1.1-.1c.1-.2.1-.3 0-.5v-.5c.1-.1.1-.2.1-.3.5.1.5 0 .6-.1 0 0 0-.1.1-.2 0-.1.1-.2.1-.2 0-.1.1-.2.1-.2s0-.1.1-.1c.1-.1.1-.1.1-.2s0-.1.1-.2.2-.3.3-.6c.1-.3.2-.5.3-.7 0-.1 0-.2.1-.4.1-.1.1-.2 0-.3h-.2c-.1 0-.2.1-.3.1h-.6-.1-.1l-.1-.1c0-.1-.1-.1-.1-.2h-1.4c-.2 0-.4.1-.7.3-.3.1-.5.2-.8.3-.1 0-.3.1-.5.1H71c-.1 0-.2 0-.2.1h-.1s-.1 0-.1-.1 0-.1-.1-.1h-.1s-.1 0-.1.1c-.1.1-.3.2-.4.2-.1 0-.3.1-.4.1h-.6-.1H68.2c-.1 0-.2-.1-.3-.1h-.8c-.1 0-.2.1-.2.1-.1.1-.1.1-.2.1H65.3s-.1 0-.1.1c0 0-.1.1-.1.2s-.1.1-.1.2c0 0 0 .1-.1.1l-.2.2s-.1 0-.1.1c-.1 0-.1.1-.2.1s-.1.1-.1.1l-.1.1-.1.1v.1c0 .1-.1.2-.2.3-.1.1-.1.2-.1.3 0 .1-.1.2-.2.3-.1 0-.1.1-.1.1-.1.1-.2.2-.2.3-.3.2-.3.3-.4.4h.2zM71.8 15.3c0-.1.1-.1.1-.2.1 0 .1-.1.1-.1.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3.1-.1.1-.2.1-.3 0-.1.1-.2.1-.3 0-.1 0-.1.1-.2v-.1c0-.1 0-.2.1-.2l.1-.1-2.9-1h-.1c0 .1-.1.2-.2.3-.1.1-.1.3-.3.4l-.1.1c-.2.2-.3.4-.4.6 0 .1 0 .1-.1.2 0 .1-.1.1-.1.2s-.1.2-.1.2 0 .1-.1.2c0 .1 0 .1-.1.1-.3.1-.5.1-.7.1-.2 0-.4.1-.6.2-.1 0-.3.1-.4.1-.1 0-.3.1-.4.1H66v-.1l.1-.2.1-.2c.1-.1.1-.2.2-.4l.1-.1.1-.1s.1-.1.1-.3l.1-.3c.1-.1.1-.3.1-.4v-.1c0-.2.1-.3.2-.4 0-.1.1-.2.1-.2 0-.1.1-.1.1-.2v-.1l-.5-.1-1.6-.4-1.3-.4v.1c.1.1.2.1 0 .2l-.2.2c-.1.2-.2.4-.2.5-.1.2-.1.3-.2.5s-.1.3-.2.5c-.1.1-.1.2-.2.3 0 .1-.1.1-.1.2s-.1.1-.1.2c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3 0 .1-.1.2-.2.4-.1 0-.1.1-.1.2s0 .1-.1.2-.1.3-.2.3V15.7l-.1.1c-.1 0-.1.1-.2.1 0 .1-.1.1-.1.2l5.9 3.3.7.6.6.3c0-.2 0-.3-.1-.5v-.3c0-.1.1.1.1-.1 0-.1-.1-.4-.1-.5 0-.1-.1-.2-.1-.3l.2.8v-.6s0-.1-.1-.2-.1-.1-.1-.2v-.3c0-.1 0-.2-.1-.3v-.2-.2-.1c.1-.1.1-.1.2-.1.2 0 .3 0 .5-.1.1-.1.3-.1.5-.2.1 0 .3-.1.4-.1.1-.1.2-.1.4-.2.1-.1.3-.2.4-.2.1-.1.3-.2.4-.2.1 0 .1-.1.1-.1v-.2-.1c.1-.1.1-.2 0-.3h.1l.4-.2zM67.9 22.7s.1 0 0 0l.2.2c.1 0 .1-.1.2-.1s.1 0 .2-.1h.2c.1-.1.2-.1.4-.1h.1v-.1l-.1-.1v-.1c.1 0 .1 0 .1-.1v-.4-.3l-.1-.1-2.3-1.4-.7-.5v.5c0 .1 0 .2-.1.3v.7c0 .2.1.4.1.6v1.2c0 .2 0 .4.1.6l.1.1h.4c.1 0 .1 0 .2-.1h.1s.1 0 .1.1v-.2h.2l.1.1c.1 0 .2-.1.3-.2.3-.1.3-.2.3-.3-.1-.1-.1-.2-.1-.2zM59.2 15.9l.2-.2-1.3-.9-1.1-.7-.2.3c-.1.1 0-.1 0 0-.1.1-.1.2-.2.3v-.1s0 .1-.1.1c0 .1-.1.2-.1.3v.1c0 .1 0 .1-.1.1 0 .1-.4.6-.4.7l-.3 1c-.1.1-.1.2-.1.2l-.3.6c0 .1-.1.1-.1.2l.8.4 1.5.9c0-.1.1-.1.1-.2 0 0 0-.1.1-.2 0-.1.1-.1.1-.2l.1-.1c0-.1 0-.1.1-.1l.3-.5c0-.1.1-.2.2-.3.1-.1.2-.2.2-.3 0-.1 0-.1.1-.2 0-.1.1-.1.1-.2s.1-.2.1-.3c0-.1.1-.2.1-.3V16v-.3c.2.3.2.3.2.2zM57.5 20.6c0-.2.1-.2.1-.3L55.2 19v.1c0 .1-.1.1-.1.2v.2c0 .1-.1.1-.1.2s0 .1-.1.2v.1h-.1c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3h-.2c-.1 0-.2 0-.4-.1-.1 0-.2-.1-.4-.1h-.5c-.1 0-.2 0-.3.1h-.1-.1c.1-.2.1-.3.1-.4.1-.1.1-.2.2-.3 0-.1 0-.1.1-.2v-.1-.1c.1-.1.1-.2.2-.3.1-.1.1-.2.2-.3.1-.1.1-.2.2-.3.1-.1.1-.2.1-.3l-.7-.1-1.3-.6-.5-.3c-.1.1-.1.2-.2.3-.1.1-.2.2-.2.3-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3 0 .1 0 .2-.1.2v.3c0 .2-.1.3-.3.4-.1 0-.2.1-.2.3 0 .1 0 .3-.1.4-.1.1-.1.3-.2.4 0 .1-.1.3-.1.4l-.4.5c0 .1-.1.2-.1.3 0 .1-.1.2 0 .3-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3 0 0 .1 0 .1.1l.1.1h.2l.1-.1H51.7c.1 0 .2 0 .2-.1.1 0 .2 0 .2-.1h.8c.1 0 .2-.1.3-.2.1-.1.2-.1.4-.1H56.2c.1 0 .2 0 .3-.1 0 0 .1-.1.2-.1s.1 0 .2-.1c0 0 0-.1.1-.1l.2-.5s.1-.1.1-.2.1-.1.1-.2.1-.1.1-.1c.1-.1.1-.2.1-.3 0-.1.1-.2.1-.2v-.1-.1h-.2z"/><path class="bbst1" d="M57.3 10.9c0-.1 0-.1 0 0-.1 0-.1 0-.1-.1l-.1-.1c0-.1-.1-.1-.2-.1h-.2c-.1 0-.1.1-.2.1h-.1H56.1c-.1 0-.1 0-.1-.1l-.1.1h-.1c-.1 0-.2 0-.3.1-.1 0-.2.1-.3.1h-.3c-.2 0-.3.1-.4.1 0 0-.1.1-.2.1 0 0-.1 0-.1.1h-.1l-.1.2h-.1-.1l-.1.1c-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.2-.1.3-.2.4-.1.1-.2.3-.2.4 0 .1-.1.1-.1.2 0 0-.1.1-.1.2 0 0 0 .1-.1.1l-.5 1c-.1.2-.2.3-.2.4 0 .1-.1.1-.1.1 0 .1-.1.1 0 .3v.2c0 .1-.1.2-.2.4 0 .1-.1.1-.1.2s0 .1-.1.2c0 0 0 .1-.1.1l.7.3.7.2 1.1.6c0-.1 0-.1.1-.2s.1-.2.1-.2c0-.1.1-.2.1-.2 0-.1.1-.1.1-.2 0 0 .1-.1.1-.2.1-.1.1-.2 0-.3 0-.1 0-.2.1-.3.1-.2.3-.5.4-.7l.1-.1c0-.1.1-.1.2-.2s.2-.2.2-.3c0-.1 0-.2.1-.2 0-.1.2-.4.2-.5 0-.1 0-.1.1-.1v-.1c0-.1.1-.1.1-.2 0 0 .1-.1.1-.2v-.1h1.6s0 .1-.1.1v.2s-.1.1-.1.2-.1.2-.1.2l.1-.3.8.7 1.7.8c.1-.2.3-.6.3-.7v.1c0-.1.1-.2.1-.3V14l-.1.1V14v-.1c0-.1.1-.1.1-.2l.1-.1c0-.1.1-.2.1-.3v-.1-.1-.1-.1c0-.1.1-.1.1-.2s.1-.1.1-.2.1-.2.1-.4c0-.1 0-.1.1-.2v-.1c0-.1.1-.1.1-.1h.1s0-.1.1-.1c0 0 .1 0 .1-.1l.1-.1v-.1h.1v-.2s0-.1.1-.1c0 0 .1 0 .1-.1v-.1-.1c0-.1 0-.1.1-.2l.1-.1v-.1s0-.1.1-.1.1 0 .1-.1H62h-.1-.1c-.1 0-.2 0-.3-.1h-.1-.1-.1H60.9 60.6h-.1c-.1 0-.2 0-.3-.1-.1-.1-.2-.1-.2-.1h-.1c-.2 0-.3.1-.5.2s-.4.2-.6.2H58c-.2 0-.3.1-.5.2 0 .4-.1.5-.2.5z"/></g><g><path class="bbst3" d="M49.1 14.2c0 .1 0 .1 0 0 0 .1 0 .1 0 0zM49.6 14.4h-.1c-.1 0-.1.1-.2.1s-.1 0-.2.1l.1.1.3.1v-.1c0-.1.1-.2.1-.3zM45.2 17.9v.4c0 .1-.1.2-.1.4l-.1.4v.1c-.1.3-.5 1.7-.7 2.2v.2c0 .2-.1.4-.3.6l-.1.4c-.1.2-.1.4-.2.5l-.2.7c0 .1-.1.3-.1.4h.6c-.1-.2 0-.2.2-.2h.8c.1-.1.2-.1.3-.1 0-.1.1-.2.1-.3 0 0 0-.1.1-.1 0-.1.1-.3.2-.5 0-.1 0-.1.1-.1 0-.1.1-.1.2-.2.1-.4.5-1.7.6-1.9v-.1c.1-.2.1-.4.2-.6 0-.1.1-.3.1-.4-.1-.2-.1-.5 0-.8.1-.2.2-.3.4-.4 0-.1 0-.2.1-.2l.1-.1c0-.1.1-.2.1-.3.1-.2.2-.3.2-.4l.2-.2c0-.1 0-.1.1-.2 0-.1.1-.2.1-.3v-.1-.2l-2.1-.9-.2-.1v.1l-.7 2.3zM46.6 15.2zM43.1 14.9c-.1 0-.2 0-.3-.1-.2-.1-.5-.2-.7-.3-.1-.1-.2-.1-.3-.2-.2 0-.2.1-.4.1-.1.1-.2.1-.3.1h-.2l-.1.1-.1.1H39.7c-.1 0-.2.1-.3.1h-.8-.1c-.1 0-.2-.1-.2-.1l-.1-.1h-.1-.1c-.1 0-.2-.1-.3-.2h-2.4c-.6 0-1.1-.1-1.5-.3-.1 0-.1 0-.2-.1-.1 0-.2-.1-.3-.1 0 .1-.1.1-.1.2s0 .1-.1.2v.1h.1c.1 0 .2 0 .2.1h.2c.1 0 .3.1.4.1.2 0 .4.1.5.1.1 0 .2.1.3.1.2 0 .3.1.5.1h.4c1.6.2 1.7.3 1.8.4h.1c.2 0 .3 0 .4.1.1 0 .2.1.4.1s.4.1.5.1h.9l.1-.3v-.1H40.5l.1.2c.2.2.1.4.1.6V16.3l-.1.1-.1.3v.1h-.1l.1.2v.1l-.2.2c0 .1 0 .1-.1.2l-.2.4v.1c-.1.2-.3.3-.5.4v.1c0 .1 0 .2-.1.2v.2c0 .1-.1.2-.1.3 0 .1-.1.2-.2.4-.2.3-.4.4-.5.4-.1 0-.2 0-.3.1-.1 0-.3.1-.4.1h-.5c-.1 0-.3.1-.4.1h-.3c-.1 0-.2 0-.3.1h-.2l-.5.1c-.1 0-.2.1-.3 0-.3 0-.6-.3-.6-.7v-.2-.1c0-.1.1-.2.1-.3v-.1c.1-.1.1-.2.1-.3l.1-.1.1-.1c0-.1 0-.1.1-.2h-.1c-.1 0-.2.1-.3.1l-.3.1h-.1c-.1 0-.3.1-.4.1-.1.2-.2.3-.3.3-.2.1-.3.1-.4.2h-.1c-.1.1-.3.1-.4.2l-.1.1s-.1.1-.2.1l-.1.1c-.1.2-.1.3-.2.4v.1c.2.2.2.5.1.8l-.3.6-.3.6c-.1.3-.2.4-.2.4v.2c-.1.1-.2.3-.4.4v.4H31c0 .1 0 .1-.1.2h.2c.1 0 .3-.1.5-.1h.8c.1 0 .2-.1.3-.1.1 0 .2 0 .3-.1.1 0 .2-.1.4-.1s.4-.1.7-.1c.2 0 .4-.1.6-.1.1-.1.2-.1.4-.1s.4-.1.6-.1l.4-.1.4-.1.2-.1h.2c.1 0 .3-.1.5 0h.9l.1-.1h.2c.1 0 .3 0 .5.1h.1c0-.1.1-.4.5-.5.1 0 .2-.1.3-.1h.4c.1 0 .1 0 .2-.1.1 0 .1 0 .2-.1s.2-.3.2-.4l.1-.3v-.1c-.3-.2-.4-.5-.3-.8 0 0 0-.1.1-.1v-.1c-.1-.2 0-.4 0-.4 0-.2.1-.3.2-.5l.1-.1.1-.1.1-.3v-.2c.1-.2.2-.4.3-.5v-.4h.2c0-.1.1-.1.1-.2.1-.2.2-.3.4-.4l.1-.2c0-.2 0-.4.1-.6v-.1l.1-.2v-.1c0-.1.1-.2.1-.3 0-.1 0-.1.1-.2.3-.4.3-.4.2-.4zM40 22.5zM31.6 23.6zM44.3 15v-.1.1zM41.2 16.9zM73.1 24.1c-.1-.1-.1-.1 0 0-.1 0-.1 0 0 0zM70.6 22.6z"/><path class="bbst3" d="M73.9 24.4h.2l-1.3-.7-.9-.6c-.2.2-.5.3-1.2.5-.2.1-.4.1-.6.2 0 .1-.1.1-.1.2v.2c0 .1 0 .1-.1.2V24.7c0 .1-.1.2-.1.3h.1c.1 0 1.8-.3 2-.4h.5c.1 0 .2 0 .4-.1h.2l.8-.1c-.1.1.1.1.1 0zM73.2 14.2zM78.1 15.8h-.3c-.2 0-.3.1-.5.1h-.2c-.2 0-.4-.1-.4-.2l-.1-.2v-.4l.1-.1.1-.2-.6-.2-1.6-.1h-.1c-.1.2-.1.3-.2.4l-.3.7c-.1.1-.1.2-.1.3 0 .1-.1.2-.2.4.1.2.1.5 0 .7 0 .1-.1.2-.1.2l-.3.7c-.1.2-.2.5-.4.7-.1.2-.2.3-.3.4-.1.2-.1.3-.2.4-.1.1-.1.3-.2.5l-.3.8v.1l.1.1.7.2h.2l1.4.9-.2-.2c-.1-.1-.2-.3-.1-.5v-.4l.1-.2v-.1c.1-.1.1-.3.2-.4 0-.1.1-.1.1-.2 0-.2.1-.3.2-.5.1-.1.2-.3.3-.4.1-.1.1-.2.2-.2 0-.1.1-.1.1-.1v-.1c0-.2 0-.4.1-.6.1-.3.4-.4.7-.5.1 0 .2 0 .3-.1.1 0 .2-.1.4-.1s.3-.1.3-.1c.2-.1.4-.1.5-.2.1-.1.3-.1.5-.1 0-.1.1-.3.1-.4.1-.1.1-.2.2-.3 0-.1.1-.2.1-.3 0-.1.1-.2.1-.3h-.2l-.2.1z"/><path class="bbst3" d="M76 23.2l.2.1c.2 0 .3-.1.5-.2.1 0 .2-.1.2-.1.1 0 .2-.1.3-.1.1-.1.1-.3.2-.5s.2-.3.2-.5c0-.1.1-.1.1-.2 0 0 0-.1.1-.2v-.1c-.1 0-.3.1-.4.1-.1 0-.3.1-.5.1h-.4c-.2 0-.5 0-.7.1-.2 0-.5.1-.7.1h-.3-.8l2 1.4zM61.5 22zM59.9 21.8c-.1.1-.2.2-.2.3-.1.1-.2.2-.2.3 0 .1-.1.2-.1.3 0 .1-.1.2-.2.3 0 .2-.1.3-.2.4l-.1.2H59.7c.3-.1.6-.1.9-.1.1-.3.3-.5.5-.6.1-.1.3-.2.5-.1h.1c0-.1.1-.1.1-.2l-1.4-.6-.5-.2zM61.2 18c-.1.2-.1.3-.1.4 0 .1-.1.2-.1.2-.1.1-.3.7-.5 1.3l2 .8c.1-.3.8-1.8.8-1.9 0-.1.1-.2.2-.3 0 0 0-.1.1-.1l-1.8-1.2c-.1.1-.1.3-.2.4-.3.1-.3.2-.4.4zM70.7 14.5l-.1-.1zM69.7 14.3l-.4-.7v-.1z"/><path class="bbst3" d="M71.8 14.1c.1-.2.1-.3.1-.3 0-.1.1-.2.1-.4l-1-.3c-.2 0-.5 0-.7-.1H70c-.1.2-.2.3-.3.4-.1.1-.2.2-.2.3 0 .1-.1.2-.1.3 0 0 0 .1-.1.1v.2c-.1.3-.3.5-.6.5-.3.1-.5.1-.7.1-.1 0-.3.1-.5.1-.1 0-.2.1-.4.1-.1 0-.3.1-.4.1-.1 0-.2.1-.4.1h-.6V14.4l.1-.2.1-.2v-.1s0-.1.1-.2v-.1l.1-.1.1-.1s.1-.1.1-.2v-.1c-.1 0-.1.1-.2.1-.3.2-.6.3-.9.2H65c-.1 0-.2-.1-.3-.1-.1 0-.2-.1-.3-.1H63.8c-.1.1-.1.2-.2.4-.1.1-.1.2-.1.2 0 .1-.1.2-.2.3 0 .1-.1.2-.1.3v.1c0 .1-.1.2-.1.3 0 .1-.1.1-.1.2 0 .2 0 .3-.1.4l5.3 2.9h.1l.1.1.1.1v-.1-.4-.2c0-.1 0-.2-.1-.3 0-.2-.1-.3 0-.4v-.2c0-.3.2-.5.3-.5.2-.1.4-.2.5-.2 0 0 .1 0 .2-.1.2-.1.3-.1.5-.2.1 0 .2-.1.3-.1.1-.1.2-.1.4-.2.1-.1.3-.2.4-.2l.1-.1v-.2l-1-1.5-.2-.3.3.2 1.4.9v-.1c.1 0 .1-.1.2-.2zM65.9 12.8c-.1.1-.1.1 0 0l-.1.2.1-.2zM71.2 13.3zM66.9 22.1zM66.7 21.5v1.3h.5c0-.1 0-.3.1-.4l.2-.2h.4c.1 0 .2 0 .3.1h.1c.1 0 .2 0 .2-.1s.1-.2.1-.3v-.2l-2.1-1.2v.3c.1.2.2.5.2.7zM58.4 16.7s0-.1.1-.1c0-.1 0-.1.1-.2 0-.1-.1-.3 0-.4l-1.1-.8c-.2.1-.3.1-.5.1 0 .1-.1.2-.1.3 0 .1-.1.2-.3.6l-.1.1-.3 1v.1c-.2.1-.2.1-.2.2s-.1.2-.1.2l.4.2 1 .6h.1c0-.1.1-.2.2-.3l.3-.5c.1-.1.2-.3.3-.4 0-.2.1-.3.2-.4-.1-.2 0-.2 0-.3zM51.8 21v-.1l.2-.6c.1-.1.1-.3.1-.4 0-.1.1-.2.1-.3 0-.1 0-.1.1-.2 0-.1.1-.1.1-.2.1-.1.1-.2.2-.3 0-.1.1-.2.2-.3l-.2-.1-1.3-.6-.1-.1c-.1.1-.1.2-.1.3-.1.1-.1.3-.2.4 0 .1-.1.2-.1.2 0 .1-.1.2-.2.3v.2c0 .2 0 .6-.5.9 0 .1 0 .2-.1.4 0 .3 0 .5-.1.6 0 .1-.1.3-.2.4l-.2.6c0 .1-.1.2-.1.3v.2H50.9v-.1h.6c.1 0 .2-.1.3-.1H52.6l.1-.1c.2-.2.5-.3.8-.2h2.6s.1-.1.2-.1l.2-.5c0-.1.1-.2.2-.4V21l.1-.4-1.4-.8v.1c0 .1 0 .3-.2.5 0 .1-.1.3-.2.4l-.1.2h-.5c-.2 0-.3-.1-.5-.1h-.2H52.8l-.8.1h-.2zM53 17.9c.1 0 .1 0 0 0 .1 0 .1 0 0 0zM52.1 20.2H52zM57.1 20.3zM58.8 13.8c.1.1.1.1 0 0 .1.1.1.1 0 0zM60.1 13.8H60v.1zM60 13.8zM59.3 14.1c-.1.1-.1.1-.2.1H59l.6.4c.1-.2.2-.3.2-.4V14c0-.1 0-.2.1-.3-.1 0-.1 0-.2.1-.1 0-.2 0-.3.1 0 .1-.1.1-.1.2zM54.4 14.7zM52.4 16.1l.7.2h.2l.6.3c0-.1 0-.1.1-.2 0 0 0-.1.1-.2v-.1c-.1-.2 0-.5.2-.7.1-.1.1-.2.2-.4-.2 0-.4 0-.5-.1-.2-.1-.4-.1-.6-.2-.2 0-.3-.1-.5-.1-.1.1-.2.3-.2.3v.1c0 .2 0 .4-.1.6 0 0 0 .1-.1.2l-.1.3z"/></g><path class="bbst4" d="M29 15.6c0-.2 0-.4.1-.6-.2.1-.4.2-.7.3-.3 0-.6.1-.8.2l-.6.3h-4.8c-.6 0-1.2.1-1.9.3-.2 0-.3.1-.5.2-.3.2-.4.3-.7.4-.3.1-.6.3-1 .4 0 .1-.1.2-.1.3 0 .1-.1.3-.2.4 0 .1-.1.2-.1.3 0 .1 0 .1-.1.2v.2c.3.2.4.6.2 1v.2c.2-.1-.4 1.7-.5 1.5v.1c-.1.2-.2.4-.4.6l-.1.1c0 .2-.1.3-.1.5v.1c0 .1 0 .3-.1.4.2 0 .4-.1.7-.1H18.2c.2-.1.4-.1.6-.1h.4l.7-.1 1.2-.3h1.5c.1 0 .2 0 .3-.1.1 0 .2 0 .3-.1.1 0 .2-.1.4-.1h.1c.1 0 .2 0 .3-.1h.1c.1-.1.2-.3.4-.3h.1c.2-.1.4-.1.5-.1.2 0 .3-.1.5-.1h.2c.1-.1.3-.1.7-.1h.5c.1-.2.2-.4.5-.5 0-.1.1-.3.1-.4.1-.2.1-.4.2-.5.1-.3.3-.6.5-.9.1-.2.2-.3.2-.3.1-.2.1-.5.2-.7.1-.2.1-.3.2-.5 0-.1 0-.1.1-.2v-.1s0-.1.1-.1c-.2-.3-.2-.6 0-.9-.1-.6-.1-.7-.1-.7zm-2.7 1.2c0 .1 0 .2-.1.4v.3c0 .2 0 .4-.2.5 0 .1 0 .2-.1.4 0 .1-.1.2-.2.3 0 .1-.1.2-.1.3-.1.3-.3.5-.5.8 0 .2-.1.4-.4.6-.3.2-.6.3-.9.4h-.3-.1c-.1 0-.2 0-.3.1-.1 0-.2 0-.3.1-.2 0-.5.1-.7.1-.2 0-.4.1-.6.1-.1 0-.2 0-.2.1-.1 0-.1 0-.2.1-.1 0-.2.1-.3.1-.1 0-.2 0-.3.1-.2 0-.4-.1-.5-.2-.3-.2-.3-.6-.2-.9v-.1s0-.1.1-.1v-.1l.1-.4c0-.1 0-.2.1-.3 0-.2.1-.5.2-.7 0-.2.1-.3.2-.5 0-.1 0-.1.1-.2 0-.2.1-.4.3-.7 0-.1.1-.1.2-.2s.3-.2.5-.2h.1l.9-.2H22.9c.1 0 .2 0 .3.1.1 0 .2 0 .3-.1h.2c.2-.1.3-.2.5-.2.2-.1.4-.1.6-.1.1 0 .2 0 .3-.1h.1l.6-.1h.1c.2 0 .4.1.6.3-.1-.3-.1 0-.2.2z"/><g><path d="M57.3 4.4c-.1.6.3.6.5.4.1.1.1.4.2.4.2-.3.1-.7 0-.9-.1 0-.4.1-.7.1zM58.5 4.4c-.1.2 0 .5.2.5.1-.2 0-.5-.2-.5zM60.2 8.9c-.1.6 1.5.9 1.8.7-.1-.5-1.3-.7-1.8-.7zM61.6 16.3c-.5-.4-.1.8 0 0zM61.5 14.3c-.1.1-1.1.3-1 .4.2 0 1.2-.1 1.3-.3-.2 0-.2-.1-.3-.1zM74.8 28v.6h.4c.4-.3-.1-.9-.4-.6zM77.5 24.9v.4c.3.2.3-.5 0-.4zM79.9 22.3c-.2 0-.3.1-.3.3.1.1.2.1.4.1-.1-.2-.1-.3-.1-.4zM84 14.8c0-.2-.1-.3-.3-.4-.3.1-.4.8 0 .8.2-.1.3-.2.3-.4zM84 16.1s0-.1 0 0v-.2s-.1 0-.1-.1h-.1c0 .1 0 .1-.1.1v.2s.1 0 .1.1c.1-.1.1-.1.2-.1zM54.7 23.5v.3c.1 0 .1 0 .2.1.1-.1 0-.5-.2-.4zM58.5 19.7c0 .1-.1.1-.1.1v.3c.1.2.2-.1.4 0-.1-.2-.1-.4-.3-.4zM59.6 20.3v-.5c-.2-.1-.2.2-.3.3.1.1.1.2.3.2zM59.9 26.7c0-.7 0-1.5-.6-1.5 0 .7.1 1.3.6 1.5zM59.6 28h.3c.3-.5-.7-.5-.3 0zM66.3 17.1c0 .1-.1.2-.1.3h.2c.1-.2.1-.3-.1-.3zM66.8 22.8c-.3 0-.4.4-.2.7.3.1.4-.1.4-.5-.1-.1-.2-.1-.2-.2zM67.5 11.4h-.1c0 .1 0 .1-.1.1v.2s.1 0 .1.1h.1c0-.1 0-.1.1-.1-.1-.1-.1-.1-.1-.3 0 .1-.1.1 0 0zM67.8 13.1c-.1.1-.1.3 0 .4.2.1.2-.1.3-.3-.2 0-.2-.1-.3-.1zM69.3 9.3c0 .2-.1.2-.1.3.3.2.4-.4.1-.3zM73.8 18.5c-.1.3 0 .7.3.8 0-.4 0-.8-.3-.8zM74.7 16.6c.1-.1.1-.4 0-.5-.2 0-.3.1-.3.4.1 0 .1.1.3.1zM79.3 17.1c0 .3 0 .4.2.4.1-.3 0-.4-.2-.4z"/></g><g><path d="M22.6 4.3c0 .2 0 .4.4.3 0-.1 0-.1.1-.2-.2 0-.3-.1-.5-.1zM27.3 4.8c-.1.4.3.5.6.3.1.1.1.3.3.3.2-.2.2-.5 0-.7-.3 0-.6.1-.9.1zM28.6 4.8c-.2.1 0 .4.2.4.2-.2.1-.4-.2-.4zM30.7 8.2c-.1.4.6.7.9.5 0-.4-.3-.6-.9-.5zM31.4 13.6c-.6-.4-.2.6 0 0zM31.2 12.1c-.1.1-.1.2 0 .3.2 0 .3-.1.3-.2-.1-.1-.2-.1-.3-.1zM46 22.8h1.1c.3-.5-1.1-.4-1.1 0zM47.3 22.4c0 .2 0 .4.1.4h.4c.5-.1-.1-.6-.5-.4zM51.4 20.2v.3c.4.1.4-.4 0-.3zM54.3 18.3c-.2 0-.4.1-.4.2.1.1.3.1.4.1v-.3zM54.2 22.5c-.1.5.5.5.8.3-.1-.3-.4-.3-.8-.3zM56.1 18.2c.1.3.8.4.9.1-.2-.3-.7-.6-.9-.1zM60.3 12.9c-.1-.1-.1-.3-.4-.3-.3.1-.4.6 0 .6.2-.1.3-.1.4-.3zM60.2 13.9s0-.1 0 0c.1-.1.1-.1.1-.2 0 0-.1 0-.1-.1h-.1s0 .1-.1.1v.1s.1 0 .1.1h.1zM24.5 18.7v.3c.1 0 .2 0 .2.1.1-.2.1-.4-.2-.4zM28.9 16s-.1.1-.2.1v.3c.1.1.2 0 .4 0 .1-.2 0-.3-.2-.4zM30.3 16.5c0-.2 0-.3-.1-.4-.2-.1-.2.1-.3.2.1.1.2.2.4.2zM30.7 21.2c0-.5-.1-1.1-.8-1.1.1.5.2.9.8 1.1zM30.4 22.1h.4c.4-.3-.8-.4-.4 0zM31.7 15.8c-.1 0-.1 0-.1.1.3.2.8.6 1.3.4.1-.4-.7-.5-1.2-.5zM37.1 14.2c0 .1-.1.1-.1.2h.2c0-.1 0-.1-.1-.2zM37.7 18.4c-.3 0-.4.3-.2.5.3 0 .5-.1.5-.4-.2 0-.3 0-.3-.1zM38.3 10.1h-.1s0 .1-.1.1v.1s.1 0 .1.1h.1s0-.1.1-.1c-.1 0-.1-.1-.1-.2 0 .1-.1.1 0 0zM38.7 11.3c-.1.1-.1.2 0 .3.2.1.3-.1.3-.2-.2 0-.2-.1-.3-.1zM40.4 8.6c0 .1-.1.1-.1.2.3.1.4-.2.1-.2zM45.9 15.4c-.2.3 0 .5.3.6.1-.3.1-.6-.3-.6zM46.9 14c.1-.1.1-.3 0-.4-.3 0-.4.1-.4.3.3 0 .2.2.4.1zM53.5 14.5c0 .2.1.3.3.3.1-.2 0-.3-.3-.3z"/></g><g><path class="bbst1" d="M15.3 5.5c0 .2 0 .4.3.3 0-.1 0-.1.1-.2-.1-.1-.2-.2-.4-.1zM21.2 6c-.2.1 0 .4.2.4.1-.2 0-.4-.2-.4zM24.9 12c-.1.1-.1.2 0 .3.2 0 .3-.1.3-.2-.1 0-.2-.1-.3-.1zM40.1 23.1c0 .2 0 .3.1.4h.4c.4-.1-.1-.6-.5-.4zM43.1 21v.3c.4.1.4-.4 0-.3zM45.9 19.2c-.2 0-.3.1-.4.2.1.1.3.1.4.1.1-.2.1-.3 0-.3zM45.8 23.2c-.1.5.5.5.8.3 0-.3-.4-.3-.8-.3zM52.4 13.4c-.1-.1-.1-.3-.3-.3-.3.1-.4.5 0 .6.1-.1.3-.1.3-.3zM52.7 14.9c0-.1 0-.1 0 0 .1-.1.1-.1.1-.2 0 0-.1 0-.1-.1h-.1s0 .1-.1.1v.1s.1 0 .1.1h.1zM23.6 23.4h.4c.4-.4-.8-.4-.4 0zM30.7 19.3c-.3 0-.4.3-.2.5.3 0 .5-.1.4-.3l-.2-.2zM31.6 12.4c-.1.1-.1.2 0 .3.2.1.3-.1.3-.2-.1 0-.2-.1-.3-.1zM33.3 9.7c0 .1-.1.1-.1.2.4.1.4-.2.1-.2zM38.2 16.9c-.2.2 0 .5.3.6 0-.3.1-.6-.3-.6zM39.7 15c.1-.1.1-.3 0-.4-.3 0-.4.1-.4.3.2 0 .2.1.4.1zM45.2 15.5c0 .2.1.3.3.3 0-.3-.1-.3-.3-.3z"/></g><g><path class="bbst1" d="M45.9 8c0 .2 0 .4.4.3 0-.1 0-.1.1-.2-.2-.1-.3-.2-.5-.1zM51.5 8.5c-.1.4.3.5.6.3.1.1 0 .2.3.2.2-.2.2-.5 0-.7-.3.1-.6.2-.9.2zM52.9 8.4c-.2.1 0 .4.2.4.2-.1 0-.4-.2-.4zM55 11.8c-.1.4.6.7.9.5 0-.4-.3-.5-.9-.5zM55.5 15.7c-.1.1-.1.2 0 .3.2 0 .3-.1.3-.2-.2 0-.2-.1-.3-.1zM72.6 26c0 .2 0 .4.1.4h.4c.4-.1-.1-.6-.5-.4zM75.7 23.8v.3c.4.1.4-.4 0-.3zM78.5 21.9c-.2 0-.4.1-.4.2.1.1.3.1.4.1.1-.1.1-.2 0-.3zM47.7 22.3v.3c.1 0 .2 0 .2.1.2-.1.1-.4-.2-.4zM53.8 19.2s-.1.1-.2.1v.3c.1.1.2 0 .4 0 .1-.3 0-.4-.2-.4zM62.3 17.8c0 .1-.1.1-.1.2h.2c.1 0 .1-.1-.1-.2zM63 22c-.3 0-.4.3-.2.5.3 0 .5-.1.5-.4-.2 0-.3 0-.3-.1zM63.5 13.7h-.1s0 .1-.1.1v.1s.1 0 .1.1h.1s0-.1.1-.1c0 0 0-.1-.1-.2.1.1 0 .1 0 0zM63.9 14.9c-.1.1-.1.2 0 .3.2.1.3-.1.3-.2-.1 0-.1-.1-.3-.1zM65.7 12.2c0 .1-.1.1-.1.2.3.1.4-.2.1-.2zM70.8 18.5c-.2.3 0 .5.3.6.1-.3.1-.6-.3-.6zM77.8 18.1c0 .2.1.3.3.3 0-.2-.1-.3-.3-.3z"/></g><g><path d="M17.7 25.5c-.5 0-.6-.6-.4-.8.4.1.5.4.4.8zM12.3 23.7c.1.5-.7-.1 0 0zM13.7 24.2c-.1 0-.3 0-.3-.1s.1-.2.3-.2c0 .2.1.2 0 .3zM5.7 11c.1-.3.1-.5.2-.8.6-.1.2.9-.2.8zM6.3 10.1c-.2 0-.4-.1-.4-.2s0-.2.1-.3c.3-.2.7.3.3.5zM9.3 8.5c-.1 0-.2 0-.3-.1-.1-.3.4-.2.3.1zM11.7 7c0 .2-.1.2-.3.2-.1-.1 0-.2 0-.3.2 0 .3 0 .3.1zM7.4 6c-.5-.1-.4-.5-.2-.7.3.1.3.4.2.7zM12.3 5.7c-.3-.1-.3-.6 0-.6.2.1.4.6 0 .6zM18.5 4.1c.1.1.2.2.2.3-.1.2-.6.2-.6-.2.1 0 .2-.1.4-.1zM17.5 3.9h.2s0 .1.1.1v.1h-.1-.1s0-.1-.1-.1v-.1zM5.5 27.2c-.1 0-.2 0-.3-.1v-.2c.2 0 .5.1.3.3zM9.2 24.8s-.1 0 0 0c-.2.1-.3.1-.3 0-.1-.1.1-.1.1-.3.2 0 .2.1.2.3zM9 23.7c.2 0 .3.1.4.1 0 .2-.2.2-.3.2 0-.1-.1-.1-.1-.3zM4.3 22.2c.6.2 1.1.3 1 .8-.5-.1-1-.3-1-.8zM3.2 22.2c0-.1 0-.2.1-.3.5-.2.3.7-.1.3zM10 22.8s-.1.1-.1 0c-.2-.2-.4-.7-.1-1 .4.2.3.8.2 1zM12.7 19.5h-.3v-.2c.2 0 .3.1.3.2zM8.5 18c-.1.2-.4.2-.6 0 0-.2.2-.3.5-.2 0 .1.1.1.1.2zM17.1 19.7v.1H17h-.1s0-.1-.1-.1v-.1h.1c.1 0 .1 0 .2.1 0-.1 0 0 0 0zM16 19.1c-.1 0-.3 0-.3-.1 0-.2.2-.2.3-.2-.1.2 0 .2 0 .3zM19.2 18.6h-.3c0-.3.4-.3.3 0zM13.2 12.9c-.3 0-.5-.2-.5-.4.3.1.6.1.5.4zM14.9 12.5c.1-.1.3 0 .4.1 0 .2-.2.3-.4.2 0-.1-.1-.1 0-.3zM15.5 8.5c-.2 0-.3-.1-.2-.3.2 0 .3.1.2.3z"/></g></symbol>
		<symbol viewBox="0 0 32 32" id="image" xmlns="http://www.w3.org/2000/svg"><path d="M31.428 3.221H.512a.512.512 0 0 0-.506.512v24.184a.5.5 0 0 0 .499.499H31.435a.5.5 0 0 0 .499-.499V3.733a.512.512 0 0 0-.505-.512zm-2.53 21.163l-6.957-7.211a.192.192 0 0 0-.286 0l-4.826 4.245-6.167-7.595a.178.178 0 0 0-.153-.086h-.012a.233.233 0 0 0-.161.085L3.04 23.614V6.249h25.858v18.133zm-7.631-10.816h.004a2.485 2.485 0 1 0-2.485-2.485v.011a2.478 2.478 0 0 0 2.479 2.474h.002z"/></symbol>
		<symbol viewBox="0 0 31 32" id="instagram" xmlns="http://www.w3.org/2000/svg"><path d="M30.048 1.21C29.262.406 28.32.002 27.223.002H4.014C2.917.002 1.975.406 1.19 1.21A4.002 4.002 0 0 0 .011 4.107v23.792c0 1.126.393 2.091 1.179 2.897.785.806 1.726 1.208 2.824 1.208h23.209c1.097 0 2.039-.402 2.825-1.208a4 4 0 0 0 1.178-2.897V4.107c0-1.126-.391-2.091-1.178-2.897zm-18.83 10.324c1.228-1.215 2.7-1.823 4.421-1.823 1.733 0 3.215.608 4.441 1.823s1.839 2.684 1.839 4.407c0 1.721-.613 3.19-1.839 4.405s-2.706 1.823-4.441 1.823c-1.721 0-3.194-.608-4.421-1.823-1.224-1.215-1.839-2.684-1.839-4.405 0-1.723.615-3.192 1.839-4.407zm16.473 15.51c0 .361-.122.663-.366.908a1.199 1.199 0 0 1-.874.365H4.725c-.352 0-.647-.122-.883-.365a1.251 1.251 0 0 1-.357-.908v-13.5h2.867a9.2 9.2 0 0 0-.407 2.729c0 2.666.949 4.941 2.845 6.823 1.898 1.882 4.18 2.824 6.85 2.824 1.762 0 3.388-.431 4.877-1.292a9.575 9.575 0 0 0 3.538-3.512c.867-1.478 1.301-3.093 1.301-4.843 0-.944-.138-1.853-.407-2.729h2.743v13.5zm0-18.603c0 .402-.136.743-.407 1.02-.27.279-.602.416-.995.416h-3.537c-.391 0-.726-.138-.995-.416a1.4 1.4 0 0 1-.406-1.02V5.003c0-.39.134-.726.406-1.011.27-.284.604-.425.995-.425h3.537c.393 0 .726.141.995.425.272.286.407.622.407 1.011v3.438z"/></symbol>
		<symbol viewBox="0 0 30 30" id="list" xmlns="http://www.w3.org/2000/svg"><path d="M.5 8.5H8V1H.5v7.5zm10.3-6v4.4h17.7V2.5H10.8zm0 14.7h17.7v-4.4H10.8v4.4zm0 10.2h17.7V23H10.8v4.4zM.5 18.8H8v-7.5H.5v7.5zM.5 29H8v-7.5H.5V29z"/></symbol>
		<symbol viewBox="0 0 32 32" id="location" xmlns="http://www.w3.org/2000/svg"><title>location</title><path d="M16 0C9.554.09 4.364 5.337 4.364 11.795c0 1.733.374 3.379 1.045 4.861 2.903 5.706 6.275 10.69 10.181 15.198.036.053.212.145.41.146h.003a.634.634 0 0 0 .488-.229 74.053 74.053 0 0 0 9.936-14.761c.838-1.83 1.213-3.479 1.213-5.215C27.64 5.335 22.448.088 16.009 0h-.008zm0 17.9h-.064a6.109 6.109 0 1 1 6.109-6.109v.021a6.09 6.09 0 0 1-6.043 6.089H16z"/></symbol>
		<symbol viewBox="0 0 32 32" id="meta" xmlns="http://www.w3.org/2000/svg"><path d="M11 7.7c-.2-.1-.4-.1-.5 0L.2 14.9c-.1 0-.2.2-.2.3v2c0 .2.1.3.2.4l10.2 6.3c.1 0 .2.1.3.1.1 0 .2 0 .2-.1.2-.1.3-.2.3-.4v-3.4c0-.2-.1-.3-.2-.4l-6.4-3.6L11 12c.1-.1.2-.2.2-.4V8.2c0-.2-.1-.4-.2-.5zM20.3 5.1h-2.9c-.2 0-.4.1-.5.4l-5.6 20.9c0 .1 0 .3.1.4.1.1.2.2.4.2h2.9c.2 0 .4-.1.5-.4l5.6-20.9c0-.1 0-.3-.1-.4-.1-.1-.3-.2-.4-.2zM31.8 14.9L21.6 7.8c-.1-.1-.3-.1-.5 0s-.3.2-.3.4v3.4c0 .2.1.3.2.4l6.4 4.1-6.4 3.6c-.2.1-.2.2-.2.4v3.4c0 .2.1.3.3.4.1 0 .2.1.2.1.1 0 .2 0 .3-.1l10.2-6.3c.1-.1.2-.2.2-.4v-2c0-.1-.1-.3-.2-.3z"/></symbol>
		<symbol viewBox="0 0 32 32" id="movies-tv" xmlns="http://www.w3.org/2000/svg"><path d="M28.831 29.865v1.693a.454.454 0 0 1-.459.448h-2.708a.454.454 0 0 1-.459-.448v-1.691H6.825v1.691a.454.454 0 0 1-.459.448H3.658a.454.454 0 0 1-.459-.448v-1.693C1.43 29.828.001 28.417.001 26.685V10.773c0-1.756 1.466-3.182 3.269-3.182h10.885L9.65 1.683c-.364-.476-.262-1.15.227-1.502s1.18-.255 1.544.223l4.393 5.761 2.929-3.843a1.122 1.122 0 0 1 1.544-.221c.489.353.591 1.026.227 1.502l-3.04 3.988H28.76c1.803 0 3.269 1.427 3.269 3.182v15.912c0 1.732-1.429 3.143-3.198 3.18zm.582-19.092a.645.645 0 0 0-.654-.636H3.269a.645.645 0 0 0-.654.636v15.912c0 .351.292.637.654.637h25.49a.646.646 0 0 0 .654-.637V10.773zm-2.763 6.832h-3.126a.974.974 0 0 1-.985-.961v-3.659c0-.53.442-.961.985-.961h3.126c.543 0 .985.431.985.961v3.659c0 .53-.442.961-.985.961zm-6.555 8.078H5.609a.973.973 0 0 1-.985-.959V12.735c0-.53.442-.961.985-.961h14.486c.546 0 .985.431.985.961v11.989a.97.97 0 0 1-.985.959zm4.992-6.954c.898 0 1.626.708 1.626 1.583s-.727 1.583-1.626 1.583c-.898 0-1.626-.708-1.626-1.583s.727-1.583 1.626-1.583zm0 3.962c.898 0 1.626.71 1.626 1.583 0 .875-.727 1.585-1.626 1.585s-1.626-.71-1.626-1.585c0-.872.727-1.583 1.626-1.583z"/></symbol>
		<symbol viewBox="0 0 29 32" id="music" xmlns="http://www.w3.org/2000/svg"><path fill="#444" d="M8.96 6.094v15.335a5.517 5.517 0 0 0-2.839-.785c-3.009 0-5.449 2.377-5.449 5.305 0 2.932 2.44 5.307 5.449 5.307 3.007 0 5.447-2.373 5.447-5.305V11.653l13.865-3.88v9.077a5.522 5.522 0 0 0-2.839-.785c-3.011 0-5.451 2.375-5.451 5.305s2.44 5.307 5.451 5.307c2.834 0 5.165-2.113 5.421-4.809h.026V.752L8.958 6.093z"/></symbol>
		<symbol viewBox="0 0 31 31" id="music-circle" xmlns="http://www.w3.org/2000/svg"><path class="bjst0" d="M11.1 23.4c1.5 0 2.7-1.2 2.7-2.7v-7.9l5.6-1v5.7c-.3-.1-.6-.1-.9-.1-1.4.2-2.5 1.5-2.4 2.9.1 1.3 1.2 2.3 2.5 2.3h.3c1.4-.2 2.5-1.5 2.4-2.9V7.9c0-.1-.1-.3-.2-.3H21l-8.8 1.5c-.1 0-.2.1-.2.3v8.8c-.3-.1-.6-.1-.9-.1-1.4.2-2.5 1.5-2.4 2.9 0 1.4 1.1 2.4 2.4 2.4zm4.4 7.6C24.1 31 31 24.1 31 15.5S24.1 0 15.5 0 0 6.9 0 15.5 6.9 31 15.5 31zm0-27.4c6.6 0 11.9 5.3 11.9 11.9 0 6.6-5.3 11.9-11.9 11.9-6.6 0-11.9-5.3-11.9-11.9 0-6.6 5.3-11.9 11.9-11.9z"/></symbol>
		<symbol viewBox="0 0 32 32" id="pencil" xmlns="http://www.w3.org/2000/svg"><path d="M27 0a5 5 0 0 1 4 8l-2 2-7-7 2-2c.836-.628 1.874-1 3-1zM2 23l-2 9 9-2 18.5-18.5-7-7L2 23zm20.362-11.638l-14 14-1.724-1.724 14-14 1.724 1.724z"/></symbol>
		<symbol viewBox="0 0 20 28" id="pinterest" xmlns="http://www.w3.org/2000/svg"><path d="M0 9.328C0 3.562 5.281 0 10.625 0 15.531 0 20 3.375 20 8.547c0 4.859-2.484 10.25-8.016 10.25-1.313 0-2.969-.656-3.609-1.875-1.188 4.703-1.094 5.406-3.719 9L4.437 26l-.141-.156c-.094-.984-.234-1.953-.234-2.938 0-3.187 1.469-7.797 2.188-10.891-.391-.797-.5-1.766-.5-2.641 0-1.578 1.094-3.578 2.875-3.578 1.313 0 2.016 1 2.016 2.234 0 2.031-1.375 3.938-1.375 5.906 0 1.344 1.109 2.281 2.406 2.281 3.594 0 4.703-5.187 4.703-7.953 0-3.703-2.625-5.719-6.172-5.719-4.125 0-7.313 2.969-7.313 7.156 0 2.016 1.234 3.047 1.234 3.531 0 .406-.297 1.844-.812 1.844-.078 0-.187-.031-.266-.047-2.234-.672-3.047-3.656-3.047-5.703z"/></symbol>
		<symbol viewBox="0 0 11 11" id="playstation" xmlns="http://www.w3.org/2000/svg"><path d="M5.9 9.8L4.2 9V.8s3.6.6 4.2 2.2c.5 1.6-.3 2.6-.6 2.7-.7.1-1-.4-1-.4V2.7l-.9-.4v7.5zm.5-1.1v1s4-1.3 4.5-1.9c.6-.6-1.4-1.8-2.4-1.6 0 0-1.1.1-2.1.5v.9L8.9 7l.9.4-3.4 1.3zm-2.6-.1s-.5.3-1.7.3C1 8.8 0 8.5 0 7.8c0-.7 1.9-1.5 3.8-1.9v1l-2 .6s-.3.5.1.5c1.1 0 1.9-.3 1.9-.3v.9zm0 0"/></symbol>
		<symbol viewBox="0 0 32 32" id="plus" xmlns="http://www.w3.org/2000/svg"><path d="M31 12H20V1a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v11H1a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h11v11a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V20h11a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1z"/></symbol>
		<symbol viewBox="0 0 22 32" id="podcast" xmlns="http://www.w3.org/2000/svg"><path d="M10.82 20.489c3.223 0 5.87-2.647 5.87-5.87V5.871c0-3.223-2.647-5.87-5.87-5.87s-5.87 2.647-5.87 5.87v8.748c0 3.223 2.647 5.87 5.87 5.87z"/><path d="M0 13.122v1.496c0 1.496.23 2.878.806 4.259.576 1.266 1.381 2.417 2.302 3.453 1.036 1.036 2.187 1.727 3.453 2.302l2.072.691v3.338c-1.381.46-2.417 1.727-2.417 3.223h9.094c0-1.496-1.036-2.878-2.417-3.223v-3.338a7.293 7.293 0 0 0 2.072-.691c1.266-.576 2.417-1.381 3.453-2.302 1.036-1.036 1.727-2.187 2.302-3.453.576-1.381.806-2.763.806-4.259v-1.496c0-1.611-1.266-2.763-2.763-2.763v4.259c0 2.187-.806 4.144-2.302 5.64s-3.568 2.302-5.64 2.302c-2.187 0-4.144-.806-5.64-2.302s-2.302-3.568-2.302-5.64v-4.259c-1.611 0-2.878 1.266-2.878 2.763z"/></symbol>
		<symbol viewBox="0 0 31 32" id="rss" xmlns="http://www.w3.org/2000/svg"><path fill="#444" d="M31.021 31.791a.627.627 0 0 1-.455.197h-5.178a.647.647 0 0 1-.639-.637C24.426 18.057 13.61 6.969.639 6.634a.65.65 0 0 1-.623-.656V.67c0-.175.07-.345.191-.468S.496.007.668.014c8.069.172 15.667 3.498 21.395 9.373 5.729 5.871 8.976 13.66 9.14 21.932a.65.65 0 0 1-.182.471zm-26.979-8.07c2.227 0 4.038 1.857 4.038 4.137s-1.811 4.137-4.038 4.137c-2.227 0-4.036-1.857-4.036-4.137s1.81-4.137 4.036-4.137zM.016 17.895v-5.31c0-.179.07-.349.195-.473a.628.628 0 0 1 .464-.182c4.968.168 9.648 2.256 13.178 5.875 3.531 3.617 5.564 8.414 5.73 13.507a.666.666 0 0 1-.181.477.632.632 0 0 1-.457.199h-5.183a.645.645 0 0 1-.637-.625C12.814 24.377 7.442 18.868.626 18.55a.647.647 0 0 1-.61-.654z"/></symbol>
		<symbol viewBox="0 0 32 32" id="search" xmlns="http://www.w3.org/2000/svg"><path d="M31.213 27.432l-6.952-6.952c-.037-.037-.08-.061-.117-.096a13.092 13.092 0 0 0 2.165-7.229C26.309 5.891 20.418 0 13.154 0S-.001 5.891-.001 13.155c0 7.264 5.891 13.155 13.155 13.155 2.672 0 5.155-.8 7.229-2.165.035.037.059.08.096.117l6.952 6.952a2.676 2.676 0 0 0 3.781 0 2.676 2.676 0 0 0 0-3.781zm-18.058-5.683a8.595 8.595 0 1 1 0-17.19 8.595 8.595 0 1 1 0 17.19z"/></symbol>
		<symbol viewBox="0 0 20 18" id="store" xmlns="http://www.w3.org/2000/svg"><path d="M18.9 0H1.1v2.3h17.8V0zM20 11.3V9l-1.1-5.6H1.1L0 9v2.3h1.1V18h11.1v-6.7h4.4V18h2.2v-6.7H20zm-10 4.4H3.3v-4.5H10v4.5zm0 0"/></symbol>
		<symbol viewBox="0 0 27 32" id="thumbdown" xmlns="http://www.w3.org/2000/svg"><title>thumbdown</title><path d="M24.269 14.355a2.498 2.498 0 0 1 .308 4.958l-8.409 1.123c1.103 2.171 1.749 4.733 1.749 7.447l-.001.194a3.013 3.013 0 0 1-3.291 3.422 2.292 2.292 0 0 1-1.199-1.951v-.003a14.361 14.361 0 0 0-1.514-4.393c-1.057-2.189-2.55-1.975-4.293-3.978a10.557 10.557 0 0 1-1.093-1.592 1.848 1.848 0 0 1-.121-.215c-.038-.101-.081-.149-.117-.244s-.134-.238-.198-.382a4.478 4.478 0 0 0-3.495-1.023 2.03 2.03 0 0 1-2.162-2.302L.432 4.934A1.817 1.817 0 0 1 2.631 2.79l2.172-.002a10 10 0 0 0 3.329-1.171C10.451.899 13.174.471 15.998.471c.43 0 .858.01 1.283.03l3.266-.002c.723.021 1.37.327 1.835.81.232.238.387.552.425.9.001.078.027.388.024.436a1.857 1.857 0 0 1-1.179 2.022c-.006.015.004.023.015.028l1.431-.071a2.399 2.399 0 0 1 2.513 2.534 2.363 2.363 0 0 1-2.298 2.354l.75-.048a2.452 2.452 0 0 1 .216 4.888z"/></symbol>
		<symbol viewBox="0 0 27 32" id="thumbup" xmlns="http://www.w3.org/2000/svg"><title>thumbup</title><path d="M24.269 17.645a2.498 2.498 0 0 0 .308-4.958l-8.409-1.123c1.103-2.171 1.749-4.733 1.749-7.447l-.001-.194A3.013 3.013 0 0 0 14.625.501a2.292 2.292 0 0 0-1.199 1.951v.003a14.361 14.361 0 0 1-1.514 4.393c-1.057 2.189-2.55 1.975-4.293 3.978a10.557 10.557 0 0 0-1.093 1.592 1.525 1.525 0 0 0-.119.215c-.04.101-.083.148-.121.244s-.131.238-.196.382a4.478 4.478 0 0 1-3.495 1.023 2.03 2.03 0 0 0-2.162 2.302L.432 27.066a1.817 1.817 0 0 0 2.199 2.144l2.172.003a10 10 0 0 1 3.329 1.171c2.319.718 5.042 1.146 7.866 1.146.43 0 .858-.01 1.283-.03l3.266.002a2.644 2.644 0 0 0 1.835-.81c.232-.238.387-.552.425-.9.001-.078.027-.388.024-.436a1.857 1.857 0 0 0-1.179-2.022c-.006-.015.004-.023.015-.028l1.431.071a2.399 2.399 0 0 0 2.513-2.534 2.363 2.363 0 0 0-2.298-2.354l.75.048a2.452 2.452 0 0 0 .216-4.888z"/></symbol>
		<symbol viewBox="0 0 10 10" id="twitch" xmlns="http://www.w3.org/2000/svg"><path d="M.7 0L0 1.7v7h2.5V10h1.4l1.4-1.3h2L10 6.1V0H.7zm8.4 5.7L7.5 7.2H5L3.6 8.5V7.2h-2V.9h7.5v4.8z"/><path d="M6.6 2.6v2.6h.9V2.6h-.9zM4.1 2.6v2.6H5V2.6h-.9z"/></symbol>
		<symbol viewBox="0 0 38 32" id="twitter" xmlns="http://www.w3.org/2000/svg"><path d="M36.352 5.129a13.834 13.834 0 0 1-4.035 1.138 7.233 7.233 0 0 0 3.093-3.988 13.819 13.819 0 0 1-4.474 1.748 6.927 6.927 0 0 0-5.121-2.271c-3.876 0-7.022 3.225-7.022 7.198 0 .569.063 1.114.179 1.642-5.843-.302-11.014-3.164-14.485-7.524a7.294 7.294 0 0 0-.951 3.623c0 2.497 1.244 4.704 3.125 5.988a6.807 6.807 0 0 1-3.176-.9v.088c0 3.491 2.424 6.404 5.631 7.071a7.09 7.09 0 0 1-3.176.117c.898 2.86 3.489 4.937 6.563 5.002a13.902 13.902 0 0 1-8.727 3.075c-.565 0-1.12-.033-1.673-.096a19.533 19.533 0 0 0 10.774 3.232c12.916 0 19.983-10.97 19.983-20.482l-.022-.934a14.324 14.324 0 0 0 3.513-3.729z"/></symbol>
		<symbol viewBox="0 0 113.1 88.9" id="video-add" xmlns="http://www.w3.org/2000/svg"><path d="M65.4 66H8.9V19h79.8v21.8c1-.2 2-.3 3-.3 1.4 0 2.9.2 4.3.4V2c0-1.1-.8-2-1.9-2H1.9C.9 0 0 .9 0 1.9v80.7c0 1.1.8 2 1.9 2h69.8c-4.2-4.8-6.5-11-6.5-17.4.1-.4.2-.8.2-1.2zM82 5.6h7.2v7.3H82V5.6zm-14.6 0h7.2v7.3h-7.2V5.6zm-14.6 0H60v7.3h-7.2V5.6zm-14.6 0h7.2v7.3h-7.2V5.6zm-14.7 0h7.2v7.3h-7.2V5.6zm-14.6 0h7.2v7.3H8.9V5.6zm7.2 73.3H8.9v-7.3h7.2v7.3zm14.6 0h-7.2v-7.3h7.2v7.3zm14.7 0h-7.2v-7.3h7.2v7.3zm14.6 0h-7.2v-7.3H60v7.3zm31.7-33.3c-12-.1-21.8 9.4-21.9 21.4-.1 12 9.4 21.8 21.4 21.9 12 .1 21.8-9.4 21.9-21.4v-.3c0-11.8-9.5-21.5-21.4-21.6zm14.1 25.5H95.4v10.2H88V71.1H77.6v-7.5H88V53.2h7.5v10.3h10.3v7.6zM37.6 57.4l25.8-15.1-25.8-15.1v30.2z"/></symbol>
		<symbol viewBox="0 0 32 32" id="website" xmlns="http://www.w3.org/2000/svg"><path d="M15.996.005C7.18.005.005 7.18.005 15.998c0 3.618 1.175 7.031 3.403 9.868A15.917 15.917 0 0 0 16 31.994c4.946 0 9.532-2.233 12.59-6.132a15.827 15.827 0 0 0 3.404-9.865c0-8.818-7.177-15.993-15.998-15.993zm6.139 15.056a22.046 22.046 0 0 0-.645-4.37 23.103 23.103 0 0 0 5.061-1.879 12.711 12.711 0 0 1 2.174 6.249h-6.59zm-6.243 13.711c-.048 0-.092-.004-.135-.004-.828-1.07-2.132-3.033-3.081-5.758a21.25 21.25 0 0 1 6.282-.055 24.756 24.756 0 0 1-3.067 5.817zm.104-7.96c-1.383 0-2.674.132-3.877.336a20.826 20.826 0 0 1-.604-4.156h8.692a19.96 19.96 0 0 1-.66 4.094 23.27 23.27 0 0 0-3.55-.274zM3.273 15.061c.171-2.302.94-4.443 2.174-6.249a23.09 23.09 0 0 0 4.741 1.797 23.265 23.265 0 0 0-.603 4.452H3.272zm8.238 0c.066-1.46.274-2.809.572-4.046a23.563 23.563 0 0 0 7.506.051c.322 1.243.548 2.578.62 3.995H11.51zm4.382-11.827a24.28 24.28 0 0 1 3.12 5.964 21.86 21.86 0 0 1-3.017.213c-1.191 0-2.318-.098-3.371-.268.955-2.793 2.29-4.812 3.131-5.904.046 0 .091-.005.137-.005zm9.41 4.041a21.007 21.007 0 0 1-4.357 1.557 25.999 25.999 0 0 0-2.567-5.376 12.793 12.793 0 0 1 6.924 3.819zm-12.14-3.721a22.738 22.738 0 0 0-2.453 5.193 21.063 21.063 0 0 1-4.014-1.472 12.766 12.766 0 0 1 6.468-3.721zM3.268 16.996H9.59a23.19 23.19 0 0 0 .638 4.556 23.11 23.11 0 0 0-4.697 1.755 12.603 12.603 0 0 1-2.263-6.311zm3.512 7.843a21.656 21.656 0 0 1 3.977-1.429 22.835 22.835 0 0 0 2.412 5.049 12.665 12.665 0 0 1-6.389-3.62zm11.595 3.712a26.13 26.13 0 0 0 2.523-5.239c1.668.393 3.115.951 4.316 1.527a12.658 12.658 0 0 1-6.839 3.712zm8.094-5.248a23.213 23.213 0 0 0-5.017-1.847 21.75 21.75 0 0 0 .679-4.46h6.599a12.612 12.612 0 0 1-2.261 6.308z"/></symbol>
		<symbol viewBox="0 0 9.7 9.7" id="xbox" xmlns="http://www.w3.org/2000/svg"><path d="M2.2.8s-.1 0 0 0C3 .3 3.9 0 4.8 0c.9 0 1.8.3 2.5.7.1 0 .2.1.3.2-.7-.8-2.8.9-2.8.9C4.1 1.2 3.5.9 3 .7c-.4-.1-.7 0-.8.1zm6.2.8c0-.1-.1-.1 0 0-.3-.3-.5-.4-.7-.3-.2.1-1 .4-2 1.3 0 0 1.1 1.1 1.8 2.3.7 1.1 1.1 2 .9 3.3.8-.9 1.3-2 1.3-3.3 0-1.3-.5-2.5-1.3-3.3zM6.6 5.3c-.3-.3-.7-.8-1.3-1.5-.2-.1-.3-.2-.5-.4l-.5.5c-.4.4-.8.9-1.1 1.2-.5.5-1.8 2.1-1.9 3 0 0-.3-.7.4-2.3.4-1.1 1.8-2.7 2.3-3.2 0 0-.5-.6-1.1-.9-.3-.2-.6-.3-1-.3-.3 0-.5.3-.5.3C.5 2.4 0 3.6 0 4.8c0 2.7 2.2 4.8 4.8 4.8C6.2 9.6 7.5 9 8.4 8c0 0-.1-.6-.8-1.6-.1-.1-.6-.7-1-1.1zm0 0"/></symbol>
		<symbol viewBox="0 0 26 32" id="youtube" xmlns="http://www.w3.org/2000/svg"><path d="M22.028 23.386h-1.714l.009-1.02c0-.452.363-.824.806-.824h.111a.82.82 0 0 1 .808.824l-.02 1.02zm-6.427-2.187c-.434 0-.79.302-.79.667v4.961c0 .366.356.665.79.665.438 0 .793-.298.793-.665v-4.961c0-.365-.356-.667-.793-.667zm10.437-2.774v9.438c0 2.264-1.916 4.117-4.257 4.117H4.28c-2.343 0-4.257-1.853-4.257-4.117v-9.438c0-2.264 1.914-4.116 4.257-4.116h17.501c2.341 0 4.257 1.851 4.257 4.116zM5.447 28.887v-9.94h2.17v-1.473l-5.785-.009v1.448l1.807.005v9.969h1.809zm6.503-8.46h-1.809v5.309c0 .768.045 1.151-.002 1.287-.148.411-.808.849-1.067.045-.043-.141-.005-.567-.005-1.296l-.007-5.345H7.262l.005 5.261c.002.806-.02 1.408.005 1.682.045.483.029 1.045.465 1.365.815.602 2.375-.089 2.765-.949l-.004 1.097 1.453.002v-8.458h-.002zm5.787 6.079l-.004-4.42c-.002-1.682-1.231-2.691-2.899-1.33l.007-3.285-1.807.004-.007 11.339 1.485-.023.134-.708c1.9 1.787 3.094.563 3.09-1.578zm5.662-.586l-1.356.009a5.017 5.017 0 0 0-.004.188v.776a.748.748 0 0 1-.742.752h-.266a.75.75 0 0 1-.742-.752v-2.041h3.106v-1.199c0-.874-.021-1.75-.091-2.252-.223-1.583-2.391-1.835-3.487-1.024a2.097 2.097 0 0 0-.76 1.049c-.154.454-.231 1.076-.231 1.868v2.634c0 4.38 5.19 3.76 4.571-.007zm-6.958-14.302c.093.231.238.42.436.563.193.139.441.209.74.209.261 0 .491-.072.692-.22.2-.15.37-.37.508-.665l-.034.727h2.016V3.441h-1.587v6.841a.668.668 0 0 1-.661.674.67.67 0 0 1-.661-.674V3.441h-1.655v5.93c0 .754.012 1.258.034 1.514.023.252.08.497.173.733zm-6.11-4.966c0-.844.07-1.501.206-1.977s.384-.854.742-1.142c.356-.288.811-.432 1.365-.432.466 0 .867.095 1.199.279.338.184.595.424.774.72.184.297.307.602.375.915.066.318.1.795.1 1.44v2.223c0 .815-.032 1.415-.093 1.796a2.884 2.884 0 0 1-.399 1.067 1.886 1.886 0 0 1-.776.731 2.415 2.415 0 0 1-1.094.236c-.459 0-.847-.064-1.165-.202a1.58 1.58 0 0 1-.743-.609c-.179-.27-.304-.6-.381-.983-.075-.386-.111-.965-.111-1.733V6.652zm1.578 3.492c0 .499.363.904.802.904.441 0 .799-.406.799-.904V5.465c0-.497-.357-.902-.799-.902-.44 0-.802.406-.802.902v4.679zM6.33 12.506h1.903l.002-6.741 2.246-5.774h-2.08L7.205 4.278l-1.21-4.3H3.934l2.393 5.79.002 6.737z"/></symbol>
</svg>

<!--
====================================================================================================
-->

		<header>
			<h1>SVG <code>&lt;symbol&gt;</code> sprite preview</h1>
			<p>This preview features two methods of using the generated sprite in conjunction with inline SVG. Please have a look at the HTML source for further details and be aware of the following constraints:</p>
			<ul>
				<li>Your browser has to <a href="http://caniuse.com/#feat=svg-html5" target="_blank">support inline SVG</a> for these techniques to work.</li>
				<li>The embedded sprite (A) slightly differs from the generated external one. Please <a href="https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#defs--symbol-mode" target="_blank">see the documentation</a> for details on how to create such an embeddable sprite.</li>
				<li>Internet Explorer up to version 11 doesn't support external sprites for use with inline SVG. For IE 9-11, you may polyfill this functionality with <a href="https://github.com/jonathantneal/svg4everybody" target="_blank">SVG for Everybody</a>.</li>
			</ul>
		</header>
		<section>

<!--

A) Inline SVG with embedded sprite
====================================================================================================
These SVG images make use of fragment identifiers (IDs) and are extracted out of the inline sprite
embedded above. They may be styled via CSS.

-->

			<h3>A) Inline SVG with embedded sprite</h3>
			<ul class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-6">

				<li title="arrow-left">
					<div class="icon-box">

						<!-- arrow-left -->
						<svg class="icon-arrow-left-dims">
							<use xlink:href="#arrow-left"></use>
						</svg>

					</div>
					<h2>arrow-left</h2>
				</li>
				<li title="arrow-right">
					<div class="icon-box">

						<!-- arrow-right -->
						<svg class="icon-arrow-right-dims">
							<use xlink:href="#arrow-right"></use>
						</svg>

					</div>
					<h2>arrow-right</h2>
				</li>
				<li title="art">
					<div class="icon-box">

						<!-- art -->
						<svg class="icon-art-dims">
							<use xlink:href="#art"></use>
						</svg>

					</div>
					<h2>art</h2>
				</li>
				<li title="bell">
					<div class="icon-box">

						<!-- bell -->
						<svg class="icon-bell-dims">
							<use xlink:href="#bell"></use>
						</svg>

					</div>
					<h2>bell</h2>
				</li>
				<li title="bio">
					<div class="icon-box">

						<!-- bio -->
						<svg class="icon-bio-dims">
							<use xlink:href="#bio"></use>
						</svg>

					</div>
					<h2>bio</h2>
				</li>
				<li title="briefcase">
					<div class="icon-box">

						<!-- briefcase -->
						<svg class="icon-briefcase-dims">
							<use xlink:href="#briefcase"></use>
						</svg>

					</div>
					<h2>briefcase</h2>
				</li>
				<li title="bubble">
					<div class="icon-box">

						<!-- bubble -->
						<svg class="icon-bubble-dims">
							<use xlink:href="#bubble"></use>
						</svg>

					</div>
					<h2>bubble</h2>
				</li>
				<li title="bubbles">
					<div class="icon-box">

						<!-- bubbles -->
						<svg class="icon-bubbles-dims">
							<use xlink:href="#bubbles"></use>
						</svg>

					</div>
					<h2>bubbles</h2>
				</li>
				<li title="cake">
					<div class="icon-box">

						<!-- cake -->
						<svg class="icon-cake-dims">
							<use xlink:href="#cake"></use>
						</svg>

					</div>
					<h2>cake</h2>
				</li>
				<li title="calendar">
					<div class="icon-box">

						<!-- calendar -->
						<svg class="icon-calendar-dims">
							<use xlink:href="#calendar"></use>
						</svg>

					</div>
					<h2>calendar</h2>
				</li>
				<li title="carbon-freezing">
					<div class="icon-box">

						<!-- carbon-freezing -->
						<svg class="icon-carbon-freezing-dims">
							<use xlink:href="#carbon-freezing"></use>
						</svg>

					</div>
					<h2>carbon-freezing</h2>
				</li>
				<li title="cart">
					<div class="icon-box">

						<!-- cart -->
						<svg class="icon-cart-dims">
							<use xlink:href="#cart"></use>
						</svg>

					</div>
					<h2>cart</h2>
				</li>
				<li title="clock">
					<div class="icon-box">

						<!-- clock -->
						<svg class="icon-clock-dims">
							<use xlink:href="#clock"></use>
						</svg>

					</div>
					<h2>clock</h2>
				</li>
				<li title="close-arrow">
					<div class="icon-box">

						<!-- close-arrow -->
						<svg class="icon-close-arrow-dims">
							<use xlink:href="#close-arrow"></use>
						</svg>

					</div>
					<h2>close-arrow</h2>
				</li>
				<li title="cog">
					<div class="icon-box">

						<!-- cog -->
						<svg class="icon-cog-dims">
							<use xlink:href="#cog"></use>
						</svg>

					</div>
					<h2>cog</h2>
				</li>
				<li title="comicbook">
					<div class="icon-box">

						<!-- comicbook -->
						<svg class="icon-comicbook-dims">
							<use xlink:href="#comicbook"></use>
						</svg>

					</div>
					<h2>comicbook</h2>
				</li>
				<li title="content">
					<div class="icon-box">

						<!-- content -->
						<svg class="icon-content-dims">
							<use xlink:href="#content"></use>
						</svg>

					</div>
					<h2>content</h2>
				</li>
				<li title="crop">
					<div class="icon-box">

						<!-- crop -->
						<svg class="icon-crop-dims">
							<use xlink:href="#crop"></use>
						</svg>

					</div>
					<h2>crop</h2>
				</li>
				<li title="cross">
					<div class="icon-box">

						<!-- cross -->
						<svg class="icon-cross-dims">
							<use xlink:href="#cross"></use>
						</svg>

					</div>
					<h2>cross</h2>
				</li>
				<li title="description">
					<div class="icon-box">

						<!-- description -->
						<svg class="icon-description-dims">
							<use xlink:href="#description"></use>
						</svg>

					</div>
					<h2>description</h2>
				</li>
				<li title="email">
					<div class="icon-box">

						<!-- email -->
						<svg class="icon-email-dims">
							<use xlink:href="#email"></use>
						</svg>

					</div>
					<h2>email</h2>
				</li>
				<li title="facebook">
					<div class="icon-box">

						<!-- facebook -->
						<svg class="icon-facebook-dims">
							<use xlink:href="#facebook"></use>
						</svg>

					</div>
					<h2>facebook</h2>
				</li>
				<li title="follow">
					<div class="icon-box">

						<!-- follow -->
						<svg class="icon-follow-dims">
							<use xlink:href="#follow"></use>
						</svg>

					</div>
					<h2>follow</h2>
				</li>
				<li title="games">
					<div class="icon-box">

						<!-- games -->
						<svg class="icon-games-dims">
							<use xlink:href="#games"></use>
						</svg>

					</div>
					<h2>games</h2>
				</li>
				<li title="gender">
					<div class="icon-box">

						<!-- gender -->
						<svg class="icon-gender-dims">
							<use xlink:href="#gender"></use>
						</svg>

					</div>
					<h2>gender</h2>
				</li>
				<li title="google-plus">
					<div class="icon-box">

						<!-- google-plus -->
						<svg class="icon-google-plus-dims">
							<use xlink:href="#google-plus"></use>
						</svg>

					</div>
					<h2>google-plus</h2>
				</li>
				<li title="grid">
					<div class="icon-box">

						<!-- grid -->
						<svg class="icon-grid-dims">
							<use xlink:href="#grid"></use>
						</svg>

					</div>
					<h2>grid</h2>
				</li>
				<li title="hbstore">
					<div class="icon-box">

						<!-- hbstore -->
						<svg class="icon-hbstore-dims">
							<use xlink:href="#hbstore"></use>
						</svg>

					</div>
					<h2>hbstore</h2>
				</li>
				<li title="image">
					<div class="icon-box">

						<!-- image -->
						<svg class="icon-image-dims">
							<use xlink:href="#image"></use>
						</svg>

					</div>
					<h2>image</h2>
				</li>
				<li title="instagram">
					<div class="icon-box">

						<!-- instagram -->
						<svg class="icon-instagram-dims">
							<use xlink:href="#instagram"></use>
						</svg>

					</div>
					<h2>instagram</h2>
				</li>
				<li title="list">
					<div class="icon-box">

						<!-- list -->
						<svg class="icon-list-dims">
							<use xlink:href="#list"></use>
						</svg>

					</div>
					<h2>list</h2>
				</li>
				<li title="location">
					<div class="icon-box">

						<!-- location -->
						<svg class="icon-location-dims">
							<use xlink:href="#location"></use>
						</svg>

					</div>
					<h2>location</h2>
				</li>
				<li title="meta">
					<div class="icon-box">

						<!-- meta -->
						<svg class="icon-meta-dims">
							<use xlink:href="#meta"></use>
						</svg>

					</div>
					<h2>meta</h2>
				</li>
				<li title="movies-tv">
					<div class="icon-box">

						<!-- movies-tv -->
						<svg class="icon-movies-tv-dims">
							<use xlink:href="#movies-tv"></use>
						</svg>

					</div>
					<h2>movies-tv</h2>
				</li>
				<li title="music">
					<div class="icon-box">

						<!-- music -->
						<svg class="icon-music-dims">
							<use xlink:href="#music"></use>
						</svg>

					</div>
					<h2>music</h2>
				</li>
				<li title="music-circle">
					<div class="icon-box">

						<!-- music-circle -->
						<svg class="icon-music-circle-dims">
							<use xlink:href="#music-circle"></use>
						</svg>

					</div>
					<h2>music-circle</h2>
				</li>
				<li title="pencil">
					<div class="icon-box">

						<!-- pencil -->
						<svg class="icon-pencil-dims">
							<use xlink:href="#pencil"></use>
						</svg>

					</div>
					<h2>pencil</h2>
				</li>
				<li title="pinterest">
					<div class="icon-box">

						<!-- pinterest -->
						<svg class="icon-pinterest-dims">
							<use xlink:href="#pinterest"></use>
						</svg>

					</div>
					<h2>pinterest</h2>
				</li>
				<li title="playstation">
					<div class="icon-box">

						<!-- playstation -->
						<svg class="icon-playstation-dims">
							<use xlink:href="#playstation"></use>
						</svg>

					</div>
					<h2>playstation</h2>
				</li>
				<li title="plus">
					<div class="icon-box">

						<!-- plus -->
						<svg class="icon-plus-dims">
							<use xlink:href="#plus"></use>
						</svg>

					</div>
					<h2>plus</h2>
				</li>
				<li title="podcast">
					<div class="icon-box">

						<!-- podcast -->
						<svg class="icon-podcast-dims">
							<use xlink:href="#podcast"></use>
						</svg>

					</div>
					<h2>podcast</h2>
				</li>
				<li title="rss">
					<div class="icon-box">

						<!-- rss -->
						<svg class="icon-rss-dims">
							<use xlink:href="#rss"></use>
						</svg>

					</div>
					<h2>rss</h2>
				</li>
				<li title="search">
					<div class="icon-box">

						<!-- search -->
						<svg class="icon-search-dims">
							<use xlink:href="#search"></use>
						</svg>

					</div>
					<h2>search</h2>
				</li>
				<li title="store">
					<div class="icon-box">

						<!-- store -->
						<svg class="icon-store-dims">
							<use xlink:href="#store"></use>
						</svg>

					</div>
					<h2>store</h2>
				</li>
				<li title="thumbdown">
					<div class="icon-box">

						<!-- thumbdown -->
						<svg class="icon-thumbdown-dims">
							<use xlink:href="#thumbdown"></use>
						</svg>

					</div>
					<h2>thumbdown</h2>
				</li>
				<li title="thumbup">
					<div class="icon-box">

						<!-- thumbup -->
						<svg class="icon-thumbup-dims">
							<use xlink:href="#thumbup"></use>
						</svg>

					</div>
					<h2>thumbup</h2>
				</li>
				<li title="twitch">
					<div class="icon-box">

						<!-- twitch -->
						<svg class="icon-twitch-dims">
							<use xlink:href="#twitch"></use>
						</svg>

					</div>
					<h2>twitch</h2>
				</li>
				<li title="twitter">
					<div class="icon-box">

						<!-- twitter -->
						<svg class="icon-twitter-dims">
							<use xlink:href="#twitter"></use>
						</svg>

					</div>
					<h2>twitter</h2>
				</li>
				<li title="video-add">
					<div class="icon-box">

						<!-- video-add -->
						<svg class="icon-video-add-dims">
							<use xlink:href="#video-add"></use>
						</svg>

					</div>
					<h2>video-add</h2>
				</li>
				<li title="website">
					<div class="icon-box">

						<!-- website -->
						<svg class="icon-website-dims">
							<use xlink:href="#website"></use>
						</svg>

					</div>
					<h2>website</h2>
				</li>
				<li title="xbox">
					<div class="icon-box">

						<!-- xbox -->
						<svg class="icon-xbox-dims">
							<use xlink:href="#xbox"></use>
						</svg>

					</div>
					<h2>xbox</h2>
				</li>
				<li title="youtube">
					<div class="icon-box">

						<!-- youtube -->
						<svg class="icon-youtube-dims">
							<use xlink:href="#youtube"></use>
						</svg>

					</div>
					<h2>youtube</h2>
				</li>
			</ul>

<!--
====================================================================================================
-->

		</section>
		<section>

</div>