{# @Component
name: Form
description: Different types of forms.
group: Drupal>Misc
samples:
  default:
    children: ~rendered('<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name"><label for="edit-name" class="js-form-required form-required">Your name</label><input data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true"></div><div class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail"><label for="edit-mail" class="js-form-required form-required">Your email address</label><input data-drupal-selector="edit-mail" type="email" id="edit-mail" name="mail" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true"></div><div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-subject-0-value form-item-subject-0-value"><label for="edit-subject-0-value" class="js-form-required form-required">Subject</label><input class="js-text-full text-full form-text required" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="100" placeholder="" required="required" aria-required="true"></div></div><div class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper">      <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-message-0-value form-item-message-0-value"><label for="edit-message-0-value" class="js-form-required form-required">Message</label><div class="form-textarea-wrapper"><textarea class="js-text-full text-full form-textarea required resize-vertical" data-drupal-selector="edit-message-0-value" id="edit-message-0-value" name="message[0][value]" rows="12" cols="60" placeholder="" required="required" aria-required="true"></textarea></div></div></div><div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Send" class="button button--primary js-form-submit form-submit"></div>')
#}

{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<form{{ attributes }}>
  {{ children }}
</form>
