/**
 * @file
 * Drupal specific overrides and styling.
 */

/**
 * Drupal status messages.
 */
div.Status {
  border: 1px solid $medium-gray;
  padding: rem-calc(10);
  background: $light-gray;
  margin-bottom: rem-calc(20);
}

