<div class="grid-x grid-margin-x">
  <div class="card cell medium-6">
    <div class="card-section">
      <h2>Article Title</h2>
      <p>Lorem Ipusm This and that whatever, yehaaa</a>
    </div>
  </div>

  <div class="card cell medium-6">
    <div class="card-section">
      <h2>Second Article</h2>
      <p>Lorem Ipusm This and that whatever, yehaaa</a>
    </div>
  </div>
</div>