{# @Component
name: Podcast Player
group: Modules
samples:

#}

<section name="show-info" class="show-info">
  {{ content.show }}
</section>

<section name="podcast-player" class="podcast-player">
  {{ content.player }}
</section>

<div class="main" role="main">
  {{ content.content }}
</div>

<aside>
  {{ content.aside }}
</aside>